@page "/Teacher/Class/{classId}/Info"
@model CEG_RazorWebApp.Pages.Teacher.Class.ClassInfoModel
@{
    Layout = null;
    ViewData["Title"] = "Teacher Class Info Page";
    string? search = string.Empty;

    //CEG_WebMVC.Models.ViewModels.Account.Create.CreateParentVM createParent = Model.createParent;
    var classInfo = Model.ClassInfo;

    Layout = "~/Pages/Shared/_TLayout.cshtml";
}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div class="main-content">
        <div class="main">
            <div class="container-fluid">
                <div class="row">
                    <div class="offset-sm-6 col-sm-6  d-flex justify-content-sm-end p-md-0 mt-2 mt-sm-0 ">
                        <ol class="breadcrumb">
                            <li class="breadcrumd-item">
                                <a href="#">Manage</a>
                            </li>
                            <li class="breadcrumd-item">
                                <span>/</span>
                            </li>
                        </ol>
                    </div>
                </div>
                <section>
                    <div class="card">
                        <div class="card-body">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs">
                                <!-- dung vong for o day -->
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#home1">
                                        <i class='bx bx-home-alt-2'></i>
                                        <span>All Accounts</span>
                                    </a>
                                </li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <!-- home1 -->
                                <div class="tab-pane active" id="home1" role="tabpanel">
                                    <div class="row search">
                                        <div class="col-sm-12 d-flex">
                                            <div class="col-sm-6 d-flex justify-content-end">
                                                <form asp-action="TeacherClassIndex" asp-controller="Teacher" method="get" asp-route-search="@search">
                                                    <div>
                                                        <label>
                                                            <input asp-for="@search" class="form-control" type="text" name="search" placeholder="Search Username..." value="@search">
                                                            <i class='bx bx-search-alt'></i>
                                                        </label>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 customer-booking">
                                        <div class="row">
                                            <div id="alertContainer"></div>
                                            <div class="card profile col-12 mb-4">
                                                <div class="card-header" id="class-title-status">
                                                    <h4>Class <label id="class-class-title" class="truncate"></label> Information</h4>
                                                </div>
                                                <div class="card-body">
                                                    <div class="row mb-sm-2">
                                                        <div class="col-md-5 text-md-right">
                                                            <label class="col-form-label">Class ID:</label>
                                                        </div>
                                                        <div class="col-md-7">
                                                            <span id="class-id">
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="row mb-sm-2">
                                                        <div class="col-md-5 text-md-right">
                                                            <label class="col-form-label">Status:</label>
                                                        </div>
                                                        <div class="col-sm-7" id="class-status">
                                                        </div>
                                                    </div>
                                                    <div class="row mb-sm-2">
                                                        <div class="col-md-5 text-md-right">
                                                            <label class="col-form-label">Class Name:</label>
                                                        </div>
                                                        <div class="col-md-7">
                                                            <span id="class-name">
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="row mb-sm-2">
                                                        <div class="col-md-5 text-md-right">
                                                            <label class="col-form-label">Class Course:</label>
                                                        </div>
                                                        <div class="col-md-7">
                                                            <span id="class-course">
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="row mb-sm-2">
                                                        <div class="col-md-5 text-md-right">
                                                            <label class="col-form-label">Class Start date:</label>
                                                        </div>
                                                        <div class="col-md-7">
                                                            <span id="class-start-date">
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="row mb-sm-2">
                                                        <div class="col-md-5 text-md-right">
                                                            <label class="col-form-label">End date:</label>
                                                        </div>
                                                        <div class="col-md-7">
                                                            <span id="class-end-date">
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="row mb-sm-2">
                                                        <div class="col-md-5 text-md-right">
                                                            <label class="col-form-label">Minimum amount of students:</label>
                                                        </div>
                                                        <div class="col-md-7">
                                                            <span id="class-minimum-amount-of-students">
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="row mb-sm-2">
                                                        <div class="col-md-5 text-md-right">
                                                            <label class="col-form-label">Maximum amount of students:</label>
                                                        </div>
                                                        <div class="col-md-7">
                                                            <span id="class-maximum-amount-of-students">
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="row mb-sm-2">
                                                        <div class="col-md-5 text-md-right">
                                                            <label class="col-form-label">Current amount of students:</label>
                                                        </div>
                                                        <div class="col-md-7">
                                                            <span id="class-current-amount-of-students">
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 customer-booking">
                                                <div class="row">
                                                    <div class="card profile col-12 mb-4">
                                                        <div class="card-header" id="class-allow-add-student">
                                                            <h4>Class's Student List</h4>
                                                        </div>
                                                        <div class="card-body" id="student_list">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end tapnet -->
                        </div>
                    </div>
                </section>

            </div>
        </div>
    </div>

    <script>
                var id = studentStorage.getItem('usrId');
        var token = studentStorage.getItem('token');
        var apiUrl = studentStorage.getItem('apiUrl');
            var studentList = [];
        $(document).ready(function() {
                callApiGetStudentDetail();
                    function showAlert(type, message) {
                            var alertHtml = '';

                            if (type === 'success') {
                                alertHtml = `
                                                <div class="alert alert-success alert-dismissible fade show" id="notif">
                                                    <i class='bx bx-message-alt-x p-1'></i>
                                                    <strong class="mr-1">` + message + `</strong>
                                                    <button type="button" class="close h-100" data-dismiss="alert" aria-label="Close">
                                                        <span><i class='bx bx-x'></i></span>
                                                    </button>
                                                </div>
                                            `;
                            } else if (type === 'error') {
                                alertHtml = `
                                                <div class="alert alert-danger alert-dismissible fade show" id="notif">
                                                    <i class='bx bx-message-alt-x p-1'></i>
                                                    <strong class="mr-1">` + message + `</strong>
                                                    <button type="button" class="close h-100" data-dismiss="alert" aria-label="Close">
                                                        <span><i class='bx bx-x'></i></span>
                                                    </button>
                                                </div>
                                            `;
                            }

                            // Inject the alert HTML into the alert container
                            $('#alertContainer').html(alertHtml);
                        }
                // Extract classId from the URL path

                    function callApiPutUpdateClassStatus(formData) {
                        $.ajax({
                                    url: apiUrl + 'Class/'+ @Model.ClassID + '/Update/Status', // Specify your Razor Page here
                            type: 'PUT',
                            data: JSON.stringify(formData),
                            headers: {
                                'Authorization': 'Bearer ' + token, // Token for authentication
                            },
                            contentType: 'application/json; charset=utf-8',
                            success: function (response) {
                                // Handle success (display a success message or redirect, etc.)
                                if (response.status) {
                                    showAlert('success', "Class Status update successfully");
                                    callApiGetClassDetail();
                                } else {
                                    showAlert('error', response.errorMessage);
                                }
                            },
                            error: function (xhr, status, error) {
                                // Handle error (display the validation message, etc.)
                                showAlert('error',"Error in api call:" + error);
                            }
                        });
                    }
            });
                function callApiGetClassList() {
                    $.ajax({
                                url: apiUrl + 'Class/' + @Model.ClassID, // Use teacherId in the API URL
                        type: 'GET',
                        headers: {
                            'Authorization': 'Bearer ' + token
                        },
                        success: function (response) {
                            if (response.status) {
                                classList = response.data;
                                setClassDisplay(classList);
                            } else {
                                console.error("API returned false status.");
                            }
                        },
                        error: function (error) {
                            alert("Error in api call: " + error);
                            console.error("Error in api call:", error);
                        }
                    });
                }
            function callApiGetStudentDetail() {
                        $.ajax({
                                    url: apiUrl + 'Student/ByClass' + @Model.ClassID , // API endpoint
                            type: 'GET',
                            success: function (response) {
                                // Log the entire response to the console for debugging
                                // Check if the status is true
                                if (response.status) {
                                    setClassDisplay(response.data);
                                    // Check if homeworkAnswers is empty
                                    if (response.data.students && response.data.students.length > 0) {
                                        // Clear any existing answers
                                        $('#student_list').empty();

                                        studentList = response.data.students;
                                        // Loop through each answer and generate the HTML
                                        response.data.students.forEach(function (student) {
                                            let studentHtml = generateStudentHtml(student, response.data.status); // Assuming both studentInfo and updateAnswer are the same structure
                                            $('#student_list').append(studentHtml);
                                        });
                                    } else {
                                        // If the answer list is empty
                                        $('#student_list').html('<h5>No students found</h5>');
                                    }
                                } else {
                                    console.error("API returned false status.");
                                }
                            },
                            error: function (error) {
                                alert("Error in api call:" + error);
                                console.error("Error in api call:", error);
                                //showAlert('success', 'Data fetched successfully.');
                            }
                        });
                    }
            function generateStudentHtml(studentInfo, status) {
                        var statusText = '';
                        switch (status) {
                            case 'Available':
                                statusText = `<span class="outcome" style="float: left;">${status}</span>`
                                break;
                            case 'Draft':
                            case 'Postponed':
                                statusText = `<span class="approval" style="float: left;">${status}</span>`
                                break;
                            case 'EndofService':
                            case 'Cancelled':
                                statusText = `<span class="destroy" style="float: left;">${status}</span>`
                                break;
                        }
                        // <div class="row mb-sm-2">
                        //     <div class="col-md-5 text-md-right">
                        //         <label class="col-form-label">Status:</label>
                        //     </div>
                        //     <div class="col-sm-7">
                        //         ` + statusText + `
                        //     </div>
                        // </div>
                        return `
                            <div class="card-header">
                                <h5>Student ${studentInfo.number} <label class="truncate">${studentInfo.title}</label> Details</h5>
                                ` + studentUpdateToggleHtml + `
                            </div>
                            <div class="card-body">
                                <div class="row mb-sm-2">
                                    <div class="col-md-5 text-md-right">
                                        <label class="col-form-label">Student ID:</label>
                                    </div>
                                    <div class="col-md-7">
                                        <span>${studentInfo.studentId}</span>
                                    </div>
                                </div>
                                <div class="row mb-sm-2">
                                    <div class="col-sm-5 text-sm-right">
                                        <label for="meeting-name">Title:</label>
                                    </div>
                                    <div class="col-sm-7 text-sm-left">
                                        <span>${studentInfo.title}</span>
                                    </div>
                                </div>
                                <div class="row mb-sm-2">
                                    <div class="col-sm-5 text-sm-right">
                                        <label for="meeting-name">Description:</label>
                                    </div>
                                    <div class="col-sm-7 text-sm-left">
                                        <span>${studentInfo.description}</span>
                                    </div>
                                </div>
                                <div class="row mb-sm-2">
                                    <div class="col-sm-5 text-sm-right">
                                        <label for="meeting-name">Hours to learn:</label>
                                    </div>
                                    <div class="col-sm-7 text-sm-left">
                                        <span>${studentInfo.hours}</span>
                                    </div>
                                </div>
                                <div class="row mb-sm-2">
                                    <div class="col-sm-5 text-sm-right">
                                        <label for="meeting-name">Homeworks Amount:</label>
                                    </div>
                                    <div class="col-sm-7 text-sm-left">
                                        <span>${studentInfo.homeworks.length} Homework(s)</span>
                                    </div>
                                </div>
                                <div class="card-body d-flex justify-content-center">
                                    <a class="btn btn-success" href="/Admin/Class/` + @Model.ClassID + `/Student/${studentInfo.studentId}/Info">More Info</a>
                                </div>
                            </div>
                            <hr class="container my-0">
                            ` + studentUpdateHtml;
                    }
                    function getStatusOptions(selectedStatus) {
                        var options = ['Draft', 'Open','Postponed','Cancelled','End']; // Example statuses
                        var html = '';
                        switch (selectedStatus) {
                            case 'Available':
                                options = ['Open','Postponed','Cancelled','End']
                                break;
                            case 'Draft':
                                options = ['Draft', 'Open']
                                break;
                            case 'Postponed':
                                options = ['Open','Postponed','Cancelled','End']
                                break;
                            case 'EndofService':
                                options = ['Open','End']
                                break;
                            case 'Cancelled':
                                options = ['Open','Cancelled','End']
                                break;
                        }
                        options.forEach(function (status) {
                            html += `<option value="${status}" ${selectedStatus === status ? 'selected' : ''} >${status}</option>`;
                        });

                        return html;
                    }
                    function setClassDisplay(data) {
                        var titleStatusHtml = data.status === 'Draft' || data.status === 'Postponed' ? `
                                        <div class="edit-info" id="class-class-status">
                                            <i class='bx bxs-adjust bx-sm' data-toggle="modal" data-target="#changeClassStatus"></i>
                                        </div>
                                        ` : '';
                        var statusText = '';
                        switch (data.status) {
                            case 'Open':
                                statusText = `<span class="outcome" style="float: left;">${data.status}</span>`
                                break;
                            case 'Draft':
                            case 'Postponed':
                                statusText = `<span class="approval" style="float: left;">${data.status}</span>`
                                break;
                            case 'End':
                            case 'Cancelled':
                                statusText = `<span class="destroy" style="float: left;">${data.status}</span>`
                                break;
                        }
    </script>
</body>
</html>