@page "/Teacher/Class/Index"
@model CEG_RazorWebApp.Pages.Teacher.Class.ClassIndexModel
@{
    Layout = null;
    ViewData["Title"] = "Teacher All Classes Page";
    string? search = string.Empty;

    var classes = Model.Classes;

    Layout = Model.LayoutUrl;
}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div class="main-content">
        <div class="main">
            <div class="container-fluid">
                <div class="row">
                    <div class="offset-sm-6 col-sm-6  d-flex justify-content-sm-end p-md-0 mt-2 mt-sm-0 ">
                        <ol class="breadcrumb">
                            <li class="breadcrumd-item">
                                <a href="#">Manage</a>
                            </li>
                            <li class="breadcrumd-item">
                                <span>/</span>
                            </li>
                            <li class="breadcrumd-item">
                                <a href="/Teacher/Class/Index">Class</a>
                            </li>
                        </ol>
                    </div>
                </div>
                <section>
                    <div class="card">
                        <div class="card-body">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs">
                                <!-- dung vong for o day -->
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#home1">
                                        <i class='bx bx-home-alt-2'></i>
                                        <span>All Classes</span>
                                    </a>
                                </li>
                            </ul>
                            <div id="alertContainer"></div>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <!-- home1 -->
                                <div class="tab-pane active" id="home1" role="tabpanel">
                                    <div class="row search">
                                        <div class="col-sm-12 d-flex">
                                            <div class="col-sm-6 d-flex address-home">
                                            </div>
                                            <div class="col-sm-6 d-flex justify-content-end">
                                                <form method="get" asp-route-search="@search">
                                                    <div>
                                                        <label>
                                                            <input asp-for="@search" class="form-control" type="text" name="search" placeholder="Search..." value="@search">
                                                            <i class='bx bx-search-alt'></i>
                                                        </label>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row card-content" id="classList">
                                        <!-- dung vong for o day -->
                                    </div>
                                    <!-- end tapnet -->
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <script>
    var token = '@HttpContext.Session.GetString(CEG_RazorWebApp.Libraries.Constants.ACC_TOKEN)';
    var apiUrl = 'https://localhost:7143/api/';
    var classList = [];

    $(document).ready(function () {
        // Decode JWT token to extract the teacher ID
        var decodedToken = jwt_decode(token);
        var teacherId = decodedToken.teacherId; // Assuming the teacherId is part of the token payload

        // Check if teacherId exists in the decoded token
        if (teacherId) {
            callApiGetClassList(teacherId);
        } else {
            alert("Teacher ID not found in token");
        }

        // Search event handler
        $('#search').on('keyup', function (event) {
            var searchTerm = $(this).val().toLowerCase();
            var filteredclassList = classList.filter(function (classObject) {
                return classObject.className.toLowerCase().includes(searchTerm);
            });
            setClassDisplay(filteredclassList);
        });

        // Call API to get the list of teacher names
        $.ajax({
            url: apiUrl + 'Teacher/All/Fullname',
            type: 'GET',
            success: function (response) {
                if (response.status) {
                    var select = $('#createClass_TeacherName');
                    select.empty();
                    $.each(response.data, function (index, teacherName) {
                        select.append('<option value="' + teacherName + '">' + teacherName + '</option>');
                    });
                } else {
                    console.error("API returned false status.");
                }
            },
            error: function (error) {
                alert("Error in api call: " + error);
                console.error("Error in api call:", error);
            }
        });

        // Function to call API for class list
        function callApiGetClassList(teacherId) {
            $.ajax({
                url: apiUrl + 'Class/' + teacherId + '/All', // Use teacherId in the API URL
                type: 'GET',
                headers: {
                    'Authorization': 'Bearer ' + token
                },
                success: function (response) {
                    if (response.status) {
                        classList = response.data;
                        setClassDisplay(classList);
                    } else {
                        console.error("API returned false status.");
                    }
                },
                error: function (error) {
                    alert("Error in api call: " + error);
                    console.error("Error in api call:", error);
                }
            });
        }

        // Function to display class list
        function setClassDisplay(data) {
            var classList = $('#classList');
            classList.empty();
            var cardCreateClassHtml = `
                <div class="col-xl-3 col-lg-6 col-sm-6 my-3 item">
                    <div class="card1 card-child">
                        <div class="card-body add-club">
                            <button class="border-0" data-toggle="modal" data-target="#addClass">
                                <span>Add Class</span>
                                <i class='bx bx-add-to-queue'></i>
                            </button>
                        </div>
                    </div>
                </div>
            `;
            classList.append(cardCreateClassHtml);

            $.each(data, function (index, classObj) {
                var formattedStartDate = formatDate(classObj.startDate);
                var formattedEndDate = formatDate(classObj.endDate);
                var cardHtml = `
                    <div class="col-xl-3 col-lg-6 col-sm-6 my-3">
                        <div class="card1 card-child">
                            <div class="club-name">Class ID: ${classObj.classId}</div>
                            <div class="card-body">
                                <div class="club-title">
                                    <ul>
                                        <li><h6>Class name:</h6><span>${classObj.className}</span></li>
                                        <li><h6>Course:</h6><span>${classObj.course.courseName}</span></li>
                                        <li><h6>Teacher:</h6><span>${classObj.teacher.account.fullname}</span></li>
                                        <li><h6>Start date:</h6><span>${formattedStartDate}</span></li>
                                        <li><h6>End date:</h6><span>${formattedEndDate}</span></li>
                                        <li><h6>Minimum amount of students:</h6><span>${classObj.minimumStudents}</span></li>
                                        <li><h6>Maximum amount of students:</h6><span>${classObj.maximumStudents}</span></li>
                                        <li><h6>Current amount of students:</h6><span>${classObj.studentProgress.length}</span></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="form-group mx-auto">
                                <form method="get" asp-route-id="${classObj.className}">
                                    <button class="btn btn-primary clickable-row" type="submit">See Detail</button>
                                </form>
                            </div>
                        </div>
                    </div>
                `;
                classList.append(cardHtml);
            });
        }

        function formatDate(date) {
            let d = new Date(date);
            let day = String(d.getDate()).padStart(2, '0');
            let month = String(d.getMonth() + 1).padStart(2, '0');
            let year = d.getFullYear();
            let hours = String(d.getHours()).padStart(2, '0');
            let minutes = String(d.getMinutes()).padStart(2, '0');
            return `${day}/${month}/${year} ${hours}:${minutes}`;
        }
    });
</script>
</body>
</html>