@{
    Layout = null;
    ViewData["Title"] = "Manager Index Page";
    Layout = "~/Views/Shared/_MLayout.cshtml";
}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Bird Club System</title>
</head>
<body>
    <div class="main-content"> 
        <!-- num of data -->
        <div class="cardBox">
            <div class="card event">
                <div class="inconBx">
                    <i class='bx bx-home-heart'></i>
                </div>
                <div>
                    <div class="number">100</div>
                    <div class="cardName">Total Events</div>
                </div>
            </div>
            <div class="card feedback">
                <div class="inconBx">
                    <i class='bx bx-conversation'></i>
                </div>
                <div>
                    <div class="number">100</div>
                    <div class="cardName">Feedback</div>
                </div>
            </div>
            <div class="card report">
                    <div class="inconBx">
                        <i class='bx bx-error-circle'></i>
                    </div>
                    <div>
                        <div class="number">100</div>
                        <div class="cardName">Report</div>
                    </div>
            </div>
            <div class="card blog">
                    <div class="inconBx">
                        <i class='bx bx-group'></i>
                    </div>
                    <div>
                        <div class="number">50</div>
                        <div class="cardName">Blog</div>
                    </div>
            </div>
            <div class="card news">
                    <div class="inconBx">
                        <i class='bx bx-pencil'></i>
                    </div>
                    <div>
                        <div class="number">100</div>
                        <div class="cardName">News</div>
                    </div>
            </div>
            <div class="card turnover">
                    <div class="inconBx">
                        <i class='bx bx-money'></i>
                    </div>
                    <div>
                        <div class="number"><span class="price-format" data-price="150000000""></span></div>
                        <div class="cardName">Total Income</div>
                    </div>
            </div>
        </div>
        <section class="chartBox">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between p-4">
                            <h4>Monthly Income</h4>
                            <a href="#" class="btn-title float-right">See Detail</a>
                        </div>
                        <div class="card-body">
                            <canvas id="chart-Dashboard" width="300" height="100"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="chartBox">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between p-4">
                            <h4>Refund</h4>
                            <a href="#" class="btn-title float-right">See Detail</a>
                        </div>
                        <div class="card-body">
                            <canvas id="chart-board" width="300" height="100"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="details">       
            
            <!-- New Info -->
            <div class="cardInfo">
                <div class="card border-0 d-flex">
                    <div class="card-header">
                        <h4>New Notification</h4>
                        <a href="#" class="btn-title">See All</a>
                    </div>
                    <div class="card-body">
                        <table class="table table-hover">
                            <thead >
                                <tr>
                                    <th>Full Name</th>
                                    <th>Fee (&#8363;)</th>
                                    <th>Event</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Ho Tran Khanh Duy</td>
                                    <td>1,200,000</td>
                                    <td>meeting</td>
                                    <td><div class="demise">Processing</div></td>
                                </tr>
                                <tr>
                                    <td>Ho Tran Khanh Duy</td>
                                    <td>1,200,000</td>
                                    <td>meeting</td>
                                    <td><div class="demise">Processing</div></td>
                                </tr>
                                <tr>
                                    <td>Ho Tran Khanh Duy</td>
                                    <td>1,200,000</td>
                                    <td>meeting</td>
                                    <td><div class="demise">Processing</div></td>
                                </tr>
                                <tr>
                                    <td>Ho Tran Khanh Duy</td>
                                    <td>1,200,000</td>
                                    <td>meeting</td>
                                    <td><div class="demise">Processing</div></td>
                                </tr>
                                <tr>
                                    <td>Ho Tran Khanh Duy</td>
                                    <td>1,200,000</td>
                                    <td>meeting</td>
                                    <td><div class="demise">Processing</div></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    
                </div>
            </div>

            <!-- Rating -->
            <div class="cardFB">
                <div class="card border-0 d-flex">
                    <div class="card-header">
                        <h4>Feedback</h4>
                    </div>
                    <div class="card-body">
                        <table class="table table-hover table-borderless">
                            <thead >
                                <tr>
                                    <th></th>
                                    <th>Name</th>
                                    <th>Rating</th> 
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><div class="imgBx"><img src="@Url.Content("~/images/avatar.jpg")" alt=""></div></td>
                                    <td>Ho Tran Khanh Duy</td>
                                    <td>
                                        <i class='bx bx-star'></i>
                                        <i class='bx bxs-star yellow'></i>
                                        <i class='bx bxs-star yellow'></i>
                                        <i class='bx bxs-star yellow'></i>
                                        <i class='bx bxs-star yellow'></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td><div class="imgBx"><img src="@Url.Content("~/images/avatar.jpg")" alt=""></div></td>
                                    <td>Ho Tran Khanh Duy</td>
                                    <td>
                                        <i class='bx bx-star'></i>
                                        <i class='bx bx-star'></i>
                                        <i class='bx bxs-star yellow'></i>
                                        <i class='bx bxs-star yellow'></i>
                                        <i class='bx bxs-star yellow'></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td><div class="imgBx"><img src="@Url.Content("~/images/avatar.jpg")" alt=""></div></td>
                                    <td>Ho Tran Khanh Duy</td>
                                    <td>
                                        <i class='bx bx-star'></i>
                                        <i class='bx bxs-star yellow'></i>
                                        <i class='bx bxs-star yellow'></i>
                                        <i class='bx bxs-star yellow'></i>
                                        <i class='bx bxs-star yellow'></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td><div class="imgBx"><img src="@Url.Content("~/images/avatar.jpg")" alt=""></div></td>
                                    <td>Ho Tran Khanh Duy</td>
                                    <td>
                                        <i class='bx bxs-star yellow'></i>
                                        <i class='bx bxs-star yellow'></i>
                                        <i class='bx bxs-star yellow'></i>
                                        <i class='bx bxs-star yellow'></i>
                                        <i class='bx bxs-star yellow'></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td><div class="imgBx"><img src="@Url.Content("~/images/avatar.jpg")" alt=""></div></td>
                                    <td>Ho Tran Khanh Duy</td>
                                    <td>
                                        <i class='bx bx-star'></i>
                                        <i class='bx bxs-star yellow'></i>
                                        <i class='bx bxs-star yellow'></i>
                                        <i class='bx bxs-star yellow'></i>
                                        <i class='bx bxs-star yellow'></i>
                                    </td>
                                </tr>
                                <tr>
                                    
                                    <td>Total</td>
                                    <td></td>
                                    <td>4/5<i class='bx bxs-star yellow'></i></td>
                                    
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    
                </div> 
            </div>
            
        </div>
    </div>


    <!-- jQuery first, then Popper.js, then Bootstrap JS. -->
    <script src="~/js/chart.js"></script>
</body>

</html>