@model dynamic
@{
    ViewData["Title"] = "Member History Event Page";
    List<BAL.ViewModels.TransactionViewModel>? transactions = Model.MemberPayments;
    //BAL.ViewModels.MemberViewModel member = Model.MemberDetail;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
    <link rel='stylesheet' href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css'>
        <!-- Other-->
        <link rel="stylesheet" href="https://unpkg.com/filepond-plugin-file-poster/dist/filepond-plugin-file-poster.css" >
</head>
<body>

    <hr>
    <div class="header__breadcrumb container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")" class="text-decoration-none">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Member Payments</li>
            </ol>
        </nav>
    </div>
    <hr>

    <div class="profile container">
        <div class="row">
            <div class="navigation col-2" style="background:white">
                <ul class="slide-menu" style="background-color:white">
                    <li>
                        <a href="@Url.Action("MemberProfile", "Member")">
                            <span><i class="bx bx-user"></i></span>
                            <span class="title">Account</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("MemberHistoryEvent", "Member")">
                            <span><i class="bx bx-history"></i></span>
                            <span class="title">Registered Event</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("MemberBird", "Member")">
                            <span><i class="bx bx-history"></i></span>
                            <span class="title">Bird</span>
                        </a>
                    </li>
                    <li class="active">
                        <a href="@Url.Action("MemberPayment", "Member")">
                            <span><i class="bx bx-history"></i></span>
                            <span class="title">Payment</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("MemberNotification", "Member")">
                            <span><i class="bx bx-history"></i></span>
                            <span class="title">Notifications</span>
                        </a>
                    </li>
                </ul>
            </div>

             <div class="main-content col-10">
                <div class="main">
                    <div class="container-fluid">
                        <section>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table id="history-table" class="table table-striped table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th>TransactionID</th>
                                                                <th>VnPayID</th>
                                                                <th>TransactionType</th>
                                                                <th>Value</th>
                                                                <th>TransactionDate</th>
                                                                <th>PaymentDate</th>
                                                                <th>Status</th>
                                                                <th>DocNo</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @for(int i = 0; i < transactions.Count(); i++)
                                                            {
                                                                <tr class="@("clickable-row "+ (i%2 == 0 ? "even" : "odd")) " data-href="#"
                                                                data-bs-toggle="tooltip" data-bs-placement="right"
                                                                title="More Details">
                                                                    <td class="sorting_1">@transactions[i].TransactionId</td>
                                                                    <td>@transactions[i].VnPayId</td>
                                                                    <td>@transactions[i].TransactionType</td>
                                                                    <td>@transactions[i].Value</td>
                                                                    <td>@transactions[i].TransactionDate</td>
                                                                    <td>@transactions[i].PaymentDate</td>
                                                                    <td>@transactions[i].Status</td>
                                                                    <td>@transactions[i].DocNo</td>
                                                                    <!-- feedback -->
                                                                    <!-- end feedback -->
                                                                    <!-- Report -->
                                                                    <!-- end Report -->
                                                                    <!-- feedback form -->
                                                                </tr>
                                                            }
                                                            

                                                            @*<tr class="clickable-row even" data-href="#"
                                                                data-bs-toggle="tooltip" data-bs-placement="right"
                                                                title="More Details">
                                                                <td class="sorting_1">Contest06</td>
                                                                <td>Red-whiskered Bulbul Singing Showdown</td>
                                                                <td>2023-10-15 </td>
                                                                <td>200000</td>


                                                                <td>Canceled</td>
                                                                <td>
                                                                    <div class="d-flex justify-content-around">
                                                                        <a href="@Url.Action("MeetingPost", "Meeting")"
                                                                            class="button--primary bg-primary text-white clickable-row">Review Event</a>
                                                                    </div>
                                                                </td>

                                                                <!-- feedback form -->
                                                            </tr>*@

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /# card -->
                                </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        referrerpolicy="no-referrer"></script>
        <!-- Jquery Waypoint -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
        <!-- BS4 JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.5/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#history-table").DataTable({
                pagingType: "full_numbers",
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $(".clickable-row").click(function () {
                window.location = $(this).data("href");
            });
        });
    </script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
</body>
</html>