@page "/Admin/Course/Index"
@model CEG_RazorWebApp.Pages.Admin.Course.CourseIndexModel
@{
    ViewData["Title"] = "Admin All Courses Page";
    string? search = string.Empty;
    var createCourse = Model.CreateCourse;
    var courses = Model.Courses;
    Layout = Model.LayoutUrl;
}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewData["Title"]</title>
    </head>
    <body>
        <div class="main-content">
            <div class="main">
                <div class="container-fluid">
                    <div class="row">
                        <div class="offset-sm-6 col-sm-6  d-flex justify-content-sm-end p-md-0 mt-2 mt-sm-0 ">
                            <ol class="breadcrumb">
                                <li class="breadcrumd-item">
                                    <a href="#">Manage</a>
                                </li>
                                <li class="breadcrumd-item">
                                    <span>/</span>
                                </li>
                                <li class="breadcrumd-item">
                                    <a href="/Admin/Course/Index">Course</a>
                                </li>
                            </ol>
                        </div>
                    </div>
                    <section>
                        <div class="card">
                            <div class="card-body">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs">
                                    <!-- dung vong for o day -->
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="tab" href="#home1">
                                            <i class='bx bx-home-alt-2'></i>
                                            <span>All Courses</span>
                                        </a>
                                    </li>
                                </ul>

                                @if (TempData["Success"] != null)
                                {
                                    <div class="alert alert-success alert-dismissible fade show" id="notif">
                                        <i class='bx bx-message-alt-x p-1'></i>
                                        <strong class="mr-1">@TempData["Success"]</strong>
                                        <button type="button" class="close h-100" data-dismiss="alert" aria-label="Close">
                                            <span><i class='bx bx-x'></i></span>
                                        </button>
                                    </div>
                                    TempData.Remove("Success");
                                }
                                else if (TempData["Error"] != null)
                                {
                                    <div class="alert alert-danger alert-dismissible fade show" id="notif">
                                        <i class='bx bx-message-alt-x p-1'></i>
                                        <strong class="mr-1">@TempData["Error"]</strong>
                                        <button type="button" class="close h-100" data-dismiss="alert" aria-label="Close">
                                            <span><i class='bx bx-x'></i></span>
                                        </button>
                                    </div>
                                    TempData.Remove("Success");
                                }

                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <!-- home1 -->
                                    <div class="tab-pane active" id="home1" role="tabpanel">
                                        <div class="row search">
                                            <div class="col-sm-12 d-flex">
                                                <div class="col-sm-6 d-flex address-home">
                                                </div>
                                                <div class="col-sm-6 d-flex justify-content-end">
                                                    <form method="get" asp-route-search="@search">
                                                        <div>
                                                            <label>
                                                                <input asp-for="@search" class="form-control" type="text" placeholder="Search..." value="@search">
                                                                <i class='bx bx-search-alt'></i>
                                                            </label>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row card-content">
                                            <div class="col-xl-3 col-lg-6 col-sm-6 my-3 item">
                                                <div class="card1 card-child">
                                                    <div class="card-body add-club">
                                                        <button class="border-0" data-toggle="modal" data-target="#addCourse">
                                                            <span>Add Course</span>
                                                            <i class='bx bx-add-to-queue'></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            @if(courses != null && courses.Count > 0)
                                            {
                                            <!-- dung vong for o day -->
                                                @foreach (var data in courses)
                                                {
                                                    <div class="col-xl-3 col-lg-6 col-sm-6 my-3">
                                                        <div class="card1 card-child">
                                                            <div class="club-name">
                                                                Course ID: @data.CourseId
                                                                <div class="status">
                                                                    @{
                                                                        switch (data.Status)
                                                                        {
                                                                            case "Available":
                                                                                {
                                                                                    <span class="stt1" style="float: left;">Status:<h6>@data.Status</h6></span>
                                                                                    break;
                                                                                }
                                                                            case "Draft":
                                                                                {
                                                                                    <span class="stt3" style="float: left;">Status:<h6>@data.Status</h6></span>
                                                                                    break;
                                                                                }
                                                                            case "Postponed":
                                                                            case "Cancelled":
                                                                                {
                                                                                    <span class="stt2" style="float: left;">Status:<h6>@data.Status</h6></span>
                                                                                    break;
                                                                                }
                                                                        }
                                                                    }
                                                                </div>
                                                            </div>
                                                            <div class="card-body">
                                                                <div class="club-title">
                                                                    <ul>
                                                                        <li>
                                                                            <h6>Course Name:</h6>
                                                                            <span>@data.CourseName</span>
                                                                        </li>
                                                                        <li>
                                                                            <h6>Course Type:</h6>
                                                                            <span>@data.CourseType</span>
                                                                        </li>
                                                                        <li>
                                                                            <h6>Total Hours:</h6>
                                                                            <span>@data.TotalHours</span>
                                                                        </li>
                                                                        <li>
                                                                            <h6>Required Age:</h6>
                                                                            <span>@data.RequiredAge</span>
                                                                        </li>
                                                                        <li>
                                                                            <h6>Difficulty:</h6>
                                                                            <span>@data.Difficulty</span>
                                                                        </li>
                                                                        <li>
                                                                            <h6>Description:</h6>
                                                                            <span class="truncate">@data.Description</span>
                                                                        </li>
                                                                        <li>
                                                                            <h6>Amount of Sessions:</h6>
                                                                            <span>@data.SessionsAmount</span>
                                                                        </li>
                                                                        <li>
                                                                            <h6>Amount of Classes:</h6>
                                                                            <span>@data.ClassesAmount</span>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div class="form-group mx-auto">
                                                                <a class="btn btn-primary clickable-row" asp-page-handler="Info" asp-route-courseId="@data.CourseId">See Detail</a>
                                                                @* @{
                                                                    if (data.Status.Equals("OnHold") || data.Status.Equals("Postponed") || data.Status.Equals("CheckingIn") || data.Status.Equals("Ongoing"))
                                                                    {
                                                                        <button class="btn btn-danger" data-toggle="modal" data-target="#deleteContest_@data.ContestId" type="submit">Cancel</button>
                                                                    }
                                                                } *@
                                                            </div>
                                                        </div>
                                                    </div>
                                                    @* <div id="deleteContest_@data.ContestId" class="modal fade" role="dialog">
                                                    <div class="modal-dialog modal-dialog-centered" role="content">
                                                    <div class="modal-content">
                                                    <div class="card-body">
                                                    <div class="del-title">
                                                    <i class='bx bx-error-circle'></i>
                                                    <h2>Are you sure you want to cancel this Contest ?</h2>
                                                    </div>
                                                    <div class="del-submit d-flex justify-content-center">
                                                    <form asp-action="ManagerCancelContest" asp-controller="Manager" method="post" asp-route-id="@data.ContestId">
                                                    <button type="submit" name="action" value="deleteContest" class="btn btn-success">
                                                    Yes
                                                    </button>
                                                    </form>
                                                    <button class="btn btn-danger" type="button" data-dismiss="modal">No</button>
                                                    </div>
                                                    </div>
                                                    </div>
                                                    </div>
                                                    </div> *@
                                            }
                                        }
                                        <!-- end tapnet -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <div id="addCourse" class="modal fade" role="dialog">
            <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                <div class="modal-content modal-addRoom">
                    <div class="modal-header">
                        <h4 class="modal-title">Add new Course</h4>
                    </div>
                    <div class="modal-body">
                        <form method="post" id="form">
                            <div class="row p-4">
                                <div class="col-12">
                                    <div class="row form-group">
                                        <label asp-for="@createCourse.CourseName" class="col-md-3 col-form-label text-md-right"></label>
                                        <input asp-for="@createCourse.CourseName" value="@createCourse.CourseName" type="text" placeholder="Course Name..." required class="form-control col-md-7">
                                        <span asp-validation-for="@createCourse.CourseName" id="error_message"
                                              class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>

                                        <label asp-for="@createCourse.CourseType" class="col-md-3 col-form-label text-md-right"></label>
                                        <input asp-for="@createCourse.CourseType" value="@createCourse.CourseType" type="text" placeholder="Course Type" required class="form-control col-md-7">
                                        <span asp-validation-for="@createCourse.CourseType" id="error_message"
                                              class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>

                                        <label asp-for="@createCourse.Category" class="col-md-3 col-form-label text-md-right"></label>
                                        <select class="form-control col-md-7 custom-select" asp-for="@createCourse.Category" asp-items="@createCourse.DefaultCourseCategorySelectList" required></select>
                                        <span asp-validation-for="@createCourse.Category" id="error_message"
                                              class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>

                                        <label asp-for="@createCourse.Description" class="col-md-3 col-form-label text-md-right"></label>
                                        <textarea asp-for="@createCourse.Description" value="@createCourse.Description" required class="form-control col-md-7"></textarea>
                                        <span asp-validation-for="@createCourse.Description" id="error_message"
                                              class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>

                                        <label asp-for="@createCourse.Difficulty" class="col-md-3 col-form-label mt-3 text-md-right"></label>
                                        <select class="form-control col-md-7 custom-select" asp-for="@createCourse.Difficulty" asp-items="@createCourse.DefaultCourseDifficultySelectList" required></select>
                                        <span asp-validation-for="@createCourse.Difficulty" id="error_message"
                                              class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>

                                        <label asp-for="@createCourse.RequiredAge" class="col-md-3 col-form-label text-md-right"></label>
                                        <input asp-for="@createCourse.RequiredAge" value="@createCourse.RequiredAge" type="number" min="11" max="14" placeholder="Full Name" required class="form-control col-md-7">
                                        <span asp-validation-for="@createCourse.RequiredAge" id="error_message"
                                              class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>

                                        <label asp-for="@createCourse.TotalHours" class="col-md-3 col-form-label text-md-right"></label>
                                        <input asp-for="@createCourse.TotalHours" value="@createCourse.TotalHours" type="number" min="1" placeholder="Full Name" required class="form-control col-md-7">
                                        <span asp-validation-for="@createCourse.TotalHours" id="error_message"
                                              class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>
                                    </div>
                                </div>
                                <div class="modal-footer justify-content-center" style="margin-left:400px;">
                                    <button class="btn btn-success" type="submit" name="action" value="createUser">Create</button>
                                    <button class="btn btn-danger" type="button" data-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
