@* @model dynamic *@
@{
    ViewData["Title"] = "Admin Course Create Page";
    //BAL.ViewModels.MeetingViewModel details = Model.MeetingDetails;
    //List<BAL.ViewModels.MeetingParticipantViewModel> parts = Model.MeetingParticipants;
    Layout = "~/Views/Shared/_ALayout.cshtml";
}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div class="main-content">
        <div class="main">
            <div class="container-fluid">
                <div class="row">
                    <div class="offset-sm-6 col-sm-6  d-flex justify-content-sm-end p-md-0 mt-2 mt-sm-0 ">
                        <ol class="breadcrumb">
                            <li class="breadcrumd-item">
                                <a href="#">Manage</a>
                            </li>
                            <li class="breadcrumd-item">
                                <span>/</span>
                            </li>
                            <li class="breadcrumd-item">
                                <a href="@Url.Action("AdminCourseIndex","Admin")">Course</a>
                            </li>
                            <li class="breadcrumd-item">
                                <span>/</span>
                            </li>
                            <li class="breadcrumd-item">
                                <a href="@Url.Action("AdminCourseCreate","Admin")">Create</a>
                            </li>
                        </ol>
                    </div>
                </div>
                <div class="row">
                    <div class="col-7 customer-booking">
                        @* <div class="row">
                            <div class="card profile col-12 mb-4">
                                <div class="card-header">
                                    <h4>Course Status</h4>
                                </div>
                                <div class="card-body">
                                    <div class="row mb-sm-2">
                                        <div class="col-sm-5 text-sm-right">
                                            <span>Status:</span>
                                        </div>
                                        <div class="col-sm-7">
                                            <span class="destroy" style="float: left;">
                                                @details.Status
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> *@
                        <div class="row">
                            <div class="card profile col-12 mb-4">
                                <div class="card-header">
                                    <h4>Create Course Information</h4>
                                    @* <div class="edit-info">
                                        <i class='bx bxs-edit-alt' data-toggle="modal" data-target="#editprofile"></i>
                                    </div> *@
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-5 text-md-right">
                                            <label for="meeting-name">Meeting Name:</label>
                                        </div>
                                        <div class="col-md-7">
                                            <span>
                                                @* @details.MeetingName *@
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5 text-md-right">
                                            <label for="customer-name">
                                                Registration Deadlines:
                                            </label>
                                        </div>
                                        <div class="col-md-7">
                                            <span>
                                                @* @details.RegistrationDeadline.ToString("MM/dd/yyyy") *@
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5 text-md-right">
                                            <label for="customer-name">Start Date:</label>
                                        </div>
                                        <div class="col-md-7">
                                            <span>
                                                @* @details.StartDate.ToString("MM/dd/yyyy") *@
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5 text-md-right">
                                            <label for="customer-name">End Date:</label>
                                        </div>
                                        <div class="col-md-7">
                                            <span>
                                                @* @details.EndDate.ToString("MM/dd/yyyy") *@
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row mb-sm-2">
                                        <div class="col-sm-5 text-sm-right">
                                            <span>Host:</span>
                                        </div>
                                        <div class="col-sm-7 text-sm-left">
                                            <span>
                                                @* @details.Host *@
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row mb-sm-2">
                                        <div class="col-sm-5 text-sm-right">
                                            <span>Incharge:</span>
                                        </div>
                                        <div class="col-sm-7 text-sm-left">
                                            <span>
                                                @* @details.Incharge *@
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row mb-sm-2">
                                        <div class="col-sm-5 text-sm-right">
                                            <span>Maximum Participations:</span>
                                        </div>
                                        <div class="col-sm-7 text-sm-left">
                                            <span>
                                                @* @details.NumberOfParticipantsLimit *@
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row mb-sm-2">
                                        <div class="col-sm-5 text-sm-right">
                                            <span>Remaining Participant Slots:</span>
                                        </div>
                                        <div class="col-sm-7 text-sm-left">
                                            <span>
                                                @* @details.NumberOfParticipants *@
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row mb-sm-2">
                                        <div class="col-sm-5 text-sm-right">
                                            <span>Location:</span>
                                        </div>
                                        <div class="col-sm-7 text-sm-left">
                                            <span>
                                                @* @details.AreaNumber,@details.Street,@details.District,@details.City *@
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row mb-sm-2">
                                        <div class="col-sm-5 text-sm-right">
                                            <span>Description:</span>
                                        </div>
                                        <div class="col-sm-7 text-sm-left">
                                            <span>
                                                @* @details.Description *@
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row mb-sm-2">
                                        <div class="col-sm-5 text-sm-right">
                                            <span>Note:</span>
                                        </div>
                                        <div class="col-sm-7 text-sm-left">
                                            <span>
                                                @* @details.Note *@
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- edit Room -->
    <div id="editprofile" class="modal fade" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="content">
            <div class="modal-content modal-addRoom">
                <div class="modal-header">
                    <h4 class="modal-title">Create Course</h4>
                </div>
                <form asp-action="AdminCourseCreateRequest" asp-controller="Admin" method="post" class="form-group">
                    <div class="modal-body">
                        @* <div class="row justify-content-center">
                            <div class="col-12 col-md-6">
                                <div class="form-group row">
                                    <label asp-for="@details.MeetingName" class="col-sm-4 col-form-label">Meeting Name:</label>
                                    <div class="col-sm-8">
                                        <input asp-for="@details.MeetingName" id="meetingname" type="text" name="meetingname"
                                               value="@details.MeetingName" class="form-control" required>
                                        <span asp-validation-for="@details.MeetingName" id="error_message"
                                              class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label asp-for="@details.RegistrationDeadline" class="col-sm-4 col-form-label">Registration Deadlines:</label>
                                    <div class="col-sm-8">
                                        <input asp-for="@details.RegistrationDeadline" id="RegistrationDeadline" type="date" name="RegistrationDeadline"
                                               value="@details.RegistrationDeadline.ToString("yyyy-MM-dd")" class="form-control" required>
                                        <span asp-validation-for="@details.RegistrationDeadline" id="error_message"
                                              class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label asp-for="@details.StartDate" class="col-sm-4 col-form-label">Start date:</label>
                                    <div class="col-sm-8">
                                        <input asp-for="@details.StartDate" id="StartDate" type="date" name="StartDate"
                                               value="@details.StartDate.ToString("yyyy-MM-dd")" class="form-control" required>
                                        <span asp-validation-for="@details.StartDate" id="error_message"
                                              class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label asp-for="@details.EndDate" class="col-sm-4 col-form-label">End date:</label>
                                    <div class="col-sm-8">
                                        <input asp-for="@details.EndDate" id="EndDate" type="date" name="EndDate"
                                               value="@details.EndDate.ToString("yyyy-MM-dd")" class="form-control" required>
                                        <span asp-validation-for="@details.EndDate" id="error_message"
                                              class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label asp-for="@details.Host" class="col-sm-4 col-form-label">Host:</label>
                                    <div class="col-sm-8">
                                        <input asp-for="@details.Host" id="Host" type="text" name="Host"
                                               value="@details.Host" class="form-control" required>
                                        <span asp-validation-for="@details.Host" id="error_message"
                                              class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label asp-for="@details.Incharge" class="col-sm-4 col-form-label">Incharge:</label>
                                    <div class="col-sm-8">
                                        <input asp-for="@details.Incharge" id="Incharge" type="text" name="Incharge"
                                               value="@details.Incharge" class="form-control" required>
                                        <span asp-validation-for="@details.Incharge" id="error_message"
                                              class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group row">
                                    <label asp-for="@details.NumberOfParticipantsLimit" class="col-sm-4 col-form-label">Maximum Participantions:</label>
                                    <div class="col-sm-8">
                                        <input asp-for="@details.NumberOfParticipantsLimit" id="NumberOfParticipantsLimit" type="number" name="NumberOfParticipantsLimit"
                                               value="@details.NumberOfParticipantsLimit" class="form-control" required>
                                        <span asp-validation-for="@details.NumberOfParticipantsLimit" id="error_message"
                                              class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label asp-for="@details.Address" class="col-sm-4 col-form-label">Location</label>
                                    <div class="col-sm-8">
                                        <input asp-for="@details.Address" id="Address" type="text" name="Address"
                                               value="@details.Address" class="form-control" required>
                                        <span asp-validation-for="@details.Address" id="error_message"
                                              class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label asp-for="@details.Description" class="col-sm-4 col-form-label">Description</label>
                                    <div class="col-sm-8">
                                        <input asp-for="@details.Description" id="Description" type="text" name="Description"
                                               value="@details.Description" class="form-control" required>
                                        <span asp-validation-for="@details.Description" id="error_message"
                                              class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label asp-for="@details.Note" class="col-sm-4 col-form-label">Note</label>
                                    <div class="col-sm-8">
                                        <input asp-for="@details.Note" id="Note" type="text" name="Note"
                                               value="@details.Note" class="form-control" required>
                                        <span asp-validation-for="@details.Note" id="error_message"
                                              class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label asp-for="@details.Status" class="col-sm-4 col-form-label">Status:</label>
                                    <div class="col-sm-8">
                                        <input asp-for="@details.Status" id="Status" type="text" name="Status"
                                               value="@details.Status" class="form-control" required>
                                        <span asp-validation-for="@details.Status" id="error_message"
                                              class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>
                                    </div>
                                </div>
                                <input asp-for="@details.NumberOfParticipants" id="NumberOfParticipants" type="number" name="NumberOfParticipants"
                                       value="@details.NumberOfParticipants" class="form-control" required hidden>
                                <span asp-validation-for="@details.NumberOfParticipants" id="error_message"
                                      class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>
                            </div>
                        </div> *@
                    </div>
                    <div class="modal-footer justify-content-center">
                        <button class="btn btn-success" type="submit" value="Update">Save</button>
                        <button class="btn btn-danger" type="button" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>