@model CEG_WebMVC.Models.ViewModels.Course.PageModel.AdminCourseCreatePVM
@{
    ViewData["Title"] = "Admin Course Create Page";
    //List<BAL.ViewModels.MeetingParticipantViewModel> parts = Model.MeetingParticipants;
    var createCourse = Model.CreateCourse;
    var sessionList = Model.CreateSessions;
    Layout = "~/Views/Shared/_ALayout.cshtml";
}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div class="main-content">
        <div class="main">
            <div class="container-fluid">
                <div class="row">
                    <div class="offset-sm-6 col-sm-6  d-flex justify-content-sm-end p-md-0 mt-2 mt-sm-0 ">
                        <ol class="breadcrumb">
                            <li class="breadcrumd-item">
                                <a href="#">Manage</a>
                            </li>
                            <li class="breadcrumd-item">
                                <span>/</span>
                            </li>
                            <li class="breadcrumd-item">
                                <a href="@Url.Action("AdminCourseIndex","Admin")">Course</a>
                            </li>
                            <li class="breadcrumd-item">
                                <span>/</span>
                            </li>
                            <li class="breadcrumd-item">
                                <a href="@Url.Action("AdminCourseCreate","Admin")">Create</a>
                            </li>
                        </ol>
                    </div>
                </div>
                <div class="row">
                    <div class="col-7 customer-booking">
                        <div class="row">
                            <form asp-action="AdminCourseCreateRequest" asp-controller="Admin" method="post" class="card profile col-12 mb-4">
                                <div class="card profile col-12 mb-4">
                                    <div class="card-header">
                                        <h4>Create Course Information</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="row mb-sm-2">
                                            <div class="col-md-5 text-md-right">
                                                <label asp-for="@createCourse.CourseName" class="col-sm-4 col-form-label">Course Name:</label>
                                            </div>
                                            <div class="col-md-7">
                                                <span>
                                                    <input asp-for="@createCourse.CourseName" type="text"
                                                           value="@createCourse.CourseName" class="form-control" required>
                                                    <span asp-validation-for="@createCourse.CourseName" id="error_message"
                                                          class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="row mb-sm-2">
                                            <div class="col-md-5 text-md-right">
                                                <label asp-for="@createCourse.CourseType" class="col-sm-4 col-form-label">Course Type:</label>
                                            </div>
                                            <div class="col-md-7 text-sm-left">
                                                <span>
                                                    <input asp-for="@createCourse.CourseType" type="text"
                                                           value="@createCourse.CourseType" class="form-control" required>
                                                    <span asp-validation-for="@createCourse.CourseType" id="error_message"
                                                          class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="row mb-sm-2">
                                            <div class="col-md-5 text-md-right">
                                                <label asp-for="@createCourse.Category" class="col-sm-4 col-form-label">Category:</label>
                                            </div>
                                            <div class="col-md-7 text-sm-left">
                                                <span>
                                                    <select class="form-control" asp-for="@createCourse.Category" asp-items="@createCourse.DefaultCourseCategorySelectList" class="custom-select" required></select>
                                                    <span asp-validation-for="@createCourse.Category" id="error_message"
                                                          class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="row mb-sm-2">
                                            <div class="col-md-5 text-md-right">
                                                <label asp-for="@createCourse.Description" class="col-sm-4 col-form-label">Description:</label>
                                            </div>
                                            <div class="col-md-7 text-sm-left">
                                                <span>
                                                    <textarea asp-for="@createCourse.Description" type="text" placeholder="Course description..." row="3"
                                                           value="@createCourse.Description" class="form-control" required></textarea>
                                                    <span asp-validation-for="@createCourse.Description" id="error_message"
                                                          class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="row mb-sm-2">
                                            <div class="col-md-5 text-md-right">
                                                <label asp-for="@createCourse.Difficulty" class="col-sm-4 col-form-label">Difficulty:</label>
                                            </div>
                                            <div class="col-md-7 text-sm-left">
                                                <span>
                                                    <select class="form-control" asp-for="@createCourse.Difficulty" asp-items="@createCourse.DefaultCourseDifficultySelectList" class="custom-select" required></select>
                                                    <span asp-validation-for="@createCourse.Difficulty" id="error_message"
                                                          class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="row mb-sm-2">
                                            <div class="col-md-5 text-md-right">
                                                <label asp-for="@createCourse.RequiredAge" class="col-sm-4 col-form-label">Required Age:</label>
                                            </div>
                                            <div class="col-md-7 text-sm-left">
                                                <span>
                                                    <input asp-for="@createCourse.RequiredAge" type="number" min="@createCourse.RequiredAge"
                                                           value="@createCourse.RequiredAge" class="form-control" required>
                                                    <span asp-validation-for="@createCourse.RequiredAge" id="error_message"
                                                          class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="row mb-sm-2">
                                            <div class="col-md-5 text-md-right">
                                                <label asp-for="@createCourse.TotalHours" class="col-sm-4 col-form-label">Total hours:</label>
                                            </div>
                                            <div class="col-md-7 text-sm-left">
                                                <span>
                                                    <input asp-for="@createCourse.TotalHours" type="number" min="@createCourse.TotalHours"
                                                           value="@createCourse.TotalHours" class="form-control" required>
                                                    <span asp-validation-for="@createCourse.TotalHours" id="error_message"
                                                          class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body justify-content-center">
                                        <button class="btn btn-success" type="submit" value="Update">Save</button>
                                        <a href="@Url.Action("AdminCourseIndex","Admin")" class="btn btn-danger">Cancel</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>