@model List<BAL.ViewModels.Manager.GetMemberStatus>
@{
    Layout = null;
    ViewData["Title"] = "Manager Member Status Page";
    string? search = string.Empty;
    var listRequest = Model;
    List<SelectListItem> defaultStatus = new()
    {
        new SelectListItem {Text = "Inactive", Value = "Inactive"},
        new SelectListItem {Text = "Active", Value = "Active"},
        new SelectListItem {Text = "Denied", Value = "Denied"},
        new SelectListItem {Text = "Expired", Value = "Expired"},
        new SelectListItem {Text = "Suspended", Value = "Suspended"}
    };
    Layout = "~/Views/Shared/_MLayout.cshtml";
}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="main-content">
        <div class="main">
            <div class="container-fluid">
                <div class="row">
                    <div class="offset-sm-6 col-sm-6  d-flex justify-content-sm-end p-md-0 mt-2 mt-sm-0 ">
                        <ol class="breadcrumb">
                            <li class="breadcrumd-item">
                                <a href="#">Manage</a>
                            </li>
                            <li class="breadcrumd-item">
                                <span>/</span>
                            </li>
                        </ol>
                    </div>
                </div>
                <section>
                    <div class="card">
                        <div class="card-body">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs">
                                <!-- dung vong for o day -->
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#home1">
                                        <i class='bx bx-home-alt-2'></i>
                                        <span>All Member Status</span>
                                    </a>
                                </li>             
                            </ul>
                            
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <!-- home1 -->
                            <div class="tab-pane active" id="home1" role="tabpanel">
                                <div class="row search">
                                    <div class="col-sm-12 d-flex">
                                        <div class="col-sm-6 d-flex address-home">
                                            @{
                                                if (ViewBag.error != null)
                                                {
                                                    <span class="text-danger">@ViewBag.error</span>
                                                }
                                            }
                                        </div>
                                        <div class="col-sm-6 d-flex justify-content-end">
                                            <form asp-action="ManagerMemberStatusSearch" asp-controller="Manager" method="get" asp-route-search="@search">                   
                                                <div>
                                                    <label>
                                                        <input asp-for="@search" class="form-control" type="text" name="search" placeholder="Search..." value="@search">
                                                        <i class='bx bx-search-alt'></i>
                                                    </label>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div id="history-table_wrapper" class="dataTables_wrapper no-footer">
                                    <form asp-action="ManagerUpdateMemberStatus" asp-controller="Manager" method="post">
                                        <table id="history-table"
                                                class="table table-striped table-bordered dataTable no-footer"
                                                aria-describedby="history-table_info">
                                            <thead>
                                                <tr>
                                                    <th class="sorting sorting_asc" tabindex="0"
                                                        aria-controls="history-table" rowspan="1"
                                                        colspan="1" aria-sort="ascending"
                                                        aria-label="Member ID: activate to sort column descending">
                                                        Member Id
                                                    </th>
                                                    <th class="sorting" tabindex="0"
                                                        aria-controls="history-table" rowspan="1"
                                                        colspan="1"
                                                        aria-label="Member User Name: activate to sort column ascending">
                                                        Member User name
                                                    </th>
                                                    <th class="sorting" tabindex="0"
                                                        aria-controls="history-table" rowspan="1"
                                                        colspan="1"
                                                        aria-label="Member Full Name: activate to sort column ascending">
                                                        Member Full name
                                                    </th>
                                                    <th class="sorting" tabindex="0"
                                                        aria-controls="history-table" rowspan="1"
                                                        colspan="1"
                                                        aria-label="Status: activate to sort column ascending">
                                                        Status
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @for (int i = 0; i < listRequest.Count(); i++)
                                                {
                                                    <tr class="@("clicks-row "+ (i%2 == 0 ? "even" : "odd")) " data-href="#"
                                                        data-bs-toggle="tooltip" data-bs-placement="right"
                                                        title="More Details">
                                                        <td class="sorting_1">
                                                                <input type="hidden" asp-for="@listRequest[i].MemberId" name="listRequest[@i].MemberId" value="@listRequest[i].MemberId" class="form-control" />
                                                            @listRequest[i].MemberId
                                                        </td>
                                                        <td>
                                                                <input type="hidden" asp-for="@listRequest[i].UserName" name="listRequest[@i].UserName" value="@listRequest[i].UserName" class="form-control" />
                                                            @listRequest[i].UserName
                                                        </td>
                                                        <td>
                                                                <input type="hidden" asp-for="@listRequest[i].FullName" name="listRequest[@i].FullName" value="@listRequest[i].FullName" class="form-control" />
                                                            @listRequest[i].FullName
                                                        </td>
                                                        <td>
                                                            @{
                                                                foreach (var status in defaultStatus)
                                                                {
                                                                    if (status.Text.Equals(listRequest[i].Status))
                                                                    {
                                                                        status.Selected = true;
                                                                    }
                                                                }
                                                            }
                                                            <select class="form-control" asp-for="@listRequest[i].Status" asp-items="@defaultStatus" class="custom-select" name="listRequest[@i].Status">
                                                            </select>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                        <div class="row col-12 d-flex">
                                            <div class="rating-room">
                                                <button class="button--primary btn-success bg-success shadow btn-xs text-white" type="submit">Save Changes</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- end tapnet -->
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</body>
</html>