@model dynamic
@{
    Layout = "~/Views/Shared/_MLayout.cshtml";
    ViewData["Title"] = "Manager Contest Detail Page";
    BAL.ViewModels.ContestViewModel detailsContest = Model.ContestDetails;
    BAL.ViewModels.ContestViewModel updateContest = Model.UpdateContest != null ? Model.UpdateContest : Model.ContestDetails;
    List<BAL.ViewModels.ContestParticipantViewModel> parts = Model.ContestParticipants;
    BAL.ViewModels.ContestMediaViewModel Spotlight = detailsContest.SpotlightImage;
    BAL.ViewModels.ContestMediaViewModel LocationMap = detailsContest.LocationMapImage;

    List<BAL.ViewModels.ContestMediaViewModel> Media = detailsContest.ContestPictures;
    BAL.ViewModels.ContestMediaViewModel createMedia = Model.CreateContestMedia != null ? Model.CreateContestMedia : new BAL.ViewModels.ContestMediaViewModel();

    List<SelectListItem> defaultContestStatus = Model.SelectListStatus;
}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="main-content">
        <div class="main">
            <div class="container-fluid">
                <div class="row">
                    <div class="offset-sm-6 col-sm-6  d-flex justify-content-sm-end p-md-0 mt-2 mt-sm-0 ">
                        <ol class="breadcrumb">
                            <li class="breadcrumd-item">
                                <a href="@Url.Action("ManagerContest", "Manager")">Manage</a>
                            </li>
                            <li class="breadcrumd-item">
                                <span>/</span>
                            </li>
                        </ol>
                    </div>
                </div>
                <div class="row">
                    <div class="col-7 customer-booking">
                        <div class="row">
                            <div class="card profile col-12 mb-4">
                                <div class="card-header">
                                    <h4>Contest Information</h4>
                                    @{
                                        if (!(detailsContest.Status.Equals("Ended") || detailsContest.Status.Equals("Cancelled")))
                                        {
                                            <div class="edit-info">
                                                <i class='bx bxs-edit-alt' data-toggle="modal" data-target="#editprofile"></i>
                                            </div>
                                        }
                                    }
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-5 text-sm-right">
                                            <span>Status:</span>
                                        </div>
                                        <div class="col-sm-7">
                                            @{
                                                switch (detailsContest.Status)
                                                {
                                                    case "Ongoing":
                                                    case "CheckingIn":
                                                    case "OpenRegistration":
                                                        {
                                                            <span class="outcome" style="float: left;">@detailsContest.Status</span>
                                                            break;
                                                        }
                                                    case "OnHold":
                                                    case "ClosedRegistration":
                                                        {
                                                            <span class="approval" style="float: left;">@detailsContest.Status</span>
                                                            break;
                                                        }
                                                    case "Ended":
                                                    case "Postponed":
                                                    case "Cancelled":
                                                        {
                                                            <span class="destroy" style="float: left;">@detailsContest.Status</span>
                                                            break;
                                                        }
                                                }
                                            }
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5 text-md-right">
                                            <label for="meeting-name">Contest Name:</label>
                                        </div>
                                        <div class="col-md-7">
                                            <span>@detailsContest.ContestName</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5 text-md-right">
                                            <label for="customer-name">Open Registration Date:</label>
                                        </div>
                                        <div class="col-md-7">
                                            <span>@detailsContest.OpenRegistration.ToString("dd-MM-yyyy HH:mm")</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5 text-md-right">
                                            <label for="customer-name">Registration Deadlines:</label>
                                        </div>
                                        <div class="col-md-7">
                                            <span>@detailsContest.RegistrationDeadline.ToString("dd-MM-yyyy HH:mm")</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5 text-md-right">
                                            <label for="customer-name">Start Date:</label>
                                        </div>
                                        <div class="col-md-7">
                                            <span>@detailsContest.StartDate.ToString("dd-MM-yyyy HH:mm")</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5 text-md-right">
                                            <label for="customer-name">End Date:</label>
                                        </div>
                                        <div class="col-md-7">
                                            <span>@detailsContest.EndDate.ToString("dd-MM-yyyy HH:mm")</span>
                                        </div>
                                    </div>
                                    <div class="row mb-sm-2">
                                        <div class="col-sm-5 text-sm-right">
                                            <span>Host:</span>
                                        </div>
                                        <div class="col-sm-7 text-sm-left">
                                            <span>@detailsContest.Host</span>
                                        </div>
                                    </div>
                                    <div class="row mb-sm-2">
                                        <div class="col-sm-5 text-sm-right">
                                            <span>Incharge:</span>
                                        </div>
                                        <div class="col-sm-7 text-sm-left">
                                            <span>@detailsContest.Incharge</span>
                                        </div>
                                    </div>
                                    <div class="row mb-sm-2">
                                        <div class="col-sm-5 text-sm-right">
                                            <span>Fee:</span>
                                        </div>
                                        <div class="col-sm-7 text-sm-left">
                                            <span>@detailsContest.Fee</span>
                                        </div>
                                    </div>
                                    <div class="row mb-sm-2">
                                        <div class="col-sm-5 text-sm-right">
                                            <span>Required Minimum ELO:</span>
                                        </div>
                                        <div class="col-sm-7 text-sm-left">
                                            <span>@detailsContest.ReqMinELO</span>
                                        </div>
                                    </div>
                                    <div class="row mb-sm-2">
                                        <div class="col-sm-5 text-sm-right">
                                            <span>Required Maximum ELO:</span>
                                        </div>
                                        <div class="col-sm-7 text-sm-left">
                                            <span>@detailsContest.ReqMaxELO</span>
                                        </div>
                                    </div>
                                    <div class="row mb-sm-2">
                                        <div class="col-sm-5 text-sm-right">
                                            <span>After ELO:</span>
                                        </div>
                                        <div class="col-sm-7 text-sm-left">
                                            <span>@detailsContest.AfterELO</span>
                                        </div>
                                    </div>
                                    <div class="row mb-sm-2">
                                        <div class="col-sm-5 text-sm-right">
                                            <span>Prize:</span>
                                        </div>
                                        <div class="col-sm-7 text-sm-left">
                                            <span>@detailsContest.Prize</span>
                                        </div>
                                    </div>
                                    <div class="row mb-sm-2">
                                        <div class="col-sm-5 text-sm-right">
                                            <span>Maximum Participations:</span>
                                        </div>
                                        <div class="col-sm-7 text-sm-left">
                                            <span>@detailsContest.NumberOfParticipantsLimit</span>
                                        </div>
                                    </div>
                                    <div class="row mb-sm-2">
                                        <div class="col-sm-5 text-sm-right">
                                            <span>Remaining Participant Slots:</span>
                                        </div>
                                        <div class="col-sm-7 text-sm-left">
                                            <span>@detailsContest.NumberOfParticipants</span>
                                        </div>
                                    </div>
                                    <div class="row mb-sm-2">
                                        <div class="col-sm-5 text-sm-right">
                                            <span>Location:</span>
                                        </div>
                                        <div class="col-sm-7 text-sm-left">
                                            <span>@detailsContest.AreaNumber,@detailsContest.Street,@detailsContest.District,@detailsContest.City</span>
                                        </div>
                                    </div>
                                    <div class="row mb-sm-2">
                                        <div class="col-sm-5 text-sm-right">
                                            <span>Description:</span>
                                        </div>
                                        <div class="col-sm-7 text-sm-left">
                                            <span>@detailsContest.Description</span>
                                        </div>
                                    </div>
                                    <div class="row mb-sm-2">
                                        <div class="col-sm-5 text-sm-right">
                                            <span>Note:</span>
                                        </div>
                                        <div class="col-sm-7 text-sm-left">
                                            <span>@detailsContest.Note</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="card profile col-12 mb-4">
                                <div class="card-header">
                                    <h4>Contest Medias</h4>
                                    @{
                                        if (detailsContest.Status.Equals("OnHold") || detailsContest.Status.Equals("Postponed"))
                                        {
                                            <div class="edit-info">
                                                <i class='bx bxs-plus-circle' data-toggle="modal" data-target="#createmedia"></i>
                                            </div>
                                        }
                                    }
                                </div>
                                <div class="card-body">
                                    @{
                                        if (Spotlight != null)
                                        {
                                            <div class="card-header">
                                                <h4>Spotlight</h4>
                                                @{
                                                    if (detailsContest.Status.Equals("OnHold") || detailsContest.Status.Equals("Postponed"))
                                                    {
                                                        <div class="edit-info">
                                                            <i class='bx bxs-edit-alt' data-toggle="modal" data-target="#editmedia_@Spotlight.PictureId"></i>
                                                        </div>
                                                    }
                                                }
                                            </div>
                                            <div class="row">
                                                <div class="col-md-5 text-md-right">
                                                    <label for="meeting-name">Image:</label>
                                                </div>
                                                <div class="col-md-7">
                                                    <img class="img-fluid" src="@Spotlight.Image" alt="nt1">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-5 text-md-right">
                                                    <label for="meeting-name">Description:</label>
                                                </div>
                                                <div class="col-md-7">
                                                    <span>@Spotlight.Description</span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-5 text-md-right">
                                                    <label for="meeting-name">Type:</label>
                                                </div>
                                                <div class="col-md-7">
                                                    <span>@Spotlight.Type</span>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="card-header">
                                                <h4>Spotlight</h4>
                                                @{
                                                    if (detailsContest.Status.Equals("OnHold") || detailsContest.Status.Equals("Postponed"))
                                                    {
                                                        <div class="edit-info">
                                                            <i class='bx bxs-plus-circle' data-toggle="modal" data-target="#createspotlight"></i>
                                                        </div>
                                                    }
                                                }
                                            </div>
                                        }
                                    }
                                </div>
                                <div class="card-body">
                                    @{
                                        if (LocationMap != null)
                                        {
                                            <div class="card-header">
                                                <h4>Location Map</h4>
                                                @{
                                                    if (detailsContest.Status.Equals("OnHold") || detailsContest.Status.Equals("Postponed"))
                                                    {
                                                        <div class="edit-info">
                                                            <i class='bx bxs-edit-alt' data-toggle="modal" data-target="#editmedia_@LocationMap.PictureId"></i>
                                                        </div>
                                                    }
                                                }
                                            </div>
                                            <div class="row">
                                                <div class="col-md-5 text-md-right">
                                                    <label for="meeting-name">Image:</label>
                                                </div>
                                                <div class="col-md-7">
                                                    <img class="img-fluid" src="@LocationMap.Image" alt="nt1">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-5 text-md-right">
                                                    <label for="meeting-name">Description:</label>
                                                </div>
                                                <div class="col-md-7">
                                                    <span>@LocationMap.Description</span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-5 text-md-right">
                                                    <label for="meeting-name">Type:</label>
                                                </div>
                                                <div class="col-md-7">
                                                    <span>@LocationMap.Type</span>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="card-header">
                                                <h4>Location Map</h4>
                                                @{
                                                    if (detailsContest.Status.Equals("OnHold") || detailsContest.Status.Equals("Postponed"))
                                                    {
                                                        <div class="edit-info">
                                                            <i class='bx bxs-plus-circle' data-toggle="modal" data-target="#createlocationmap"></i>
                                                        </div>
                                                    }
                                                }
                                            </div>
                                        }
                                    }
                                </div>
                                <div class="card-body">
                                    @{
                                        if (Media != null && Media.Count > 0)
                                        {
                                            @foreach (var pic in Media)
                                            {
                                                <div class="card-header">
                                                    <h4>Additional Media</h4>
                                                    @{
                                                        if (detailsContest.Status.Equals("OnHold") || detailsContest.Status.Equals("Postponed"))
                                                        {
                                                            <div class="edit-info">
                                                                <i class='bx bxs-edit-alt' data-toggle="modal" data-target="#editmedia_@pic.PictureId"></i>
                                                            </div>
                                                        }
                                                    }
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-5 text-md-right">
                                                        <label for="meeting-name">Image:</label>
                                                    </div>
                                                    <div class="col-md-7">
                                                        <img class="img-fluid" src="@pic.Image" alt="nt1">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-5 text-md-right">
                                                        <label for="meeting-name">Description:</label>
                                                    </div>
                                                    <div class="col-md-7">
                                                        <span>@pic.Description</span>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-5 text-md-right">
                                                        <label for="meeting-name">Type:</label>
                                                    </div>
                                                    <div class="col-md-7">
                                                        <span>@pic.Type</span>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 cardFB">
                        <div class="card border-0 d-flex">
                            <div class="card-header">
                                <h4>Participants</h4>
                            </div>
                            <div class="card-body">
                                <table class="table table-hover table-borderless">
                                    <thead>
                                        <tr>
                                            <th>Participant No:</th>
                                            <th>Name:</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var part in parts)
                                        {
                                            <tr>
                                                <td>@part.ParticipantNo</td>
                                                <td>@part.MemberName</td>
                                            </tr>
                                        }
                                        <tr>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @{
        if (detailsContest.Status.Equals("OnHold") || detailsContest.Status.Equals("Postponed"))
        {
            <div id="editprofile" class="modal fade" role="dialog">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="content">
                    <div class="modal-content modal-addRoom">
                        <div class="modal-header">
                            <h4 class="modal-title">Edit Contest</h4>
                        </div>
                        <form asp-action="ManagerUpdateContestDetail" asp-controller="Manager" method="post" asp-route-id="@detailsContest.ContestId" class="form-group">
                            <div class="modal-body">
                                <div class="row justify-content-center">
                                    <div class="col-12 col-md-6">
                                        <div class="form-group row">
                                            <label asp-for="@updateContest.ContestName" class="col-sm-4 col-form-label"></label>
                                            <div class="col-sm-8">
                                                <input asp-for="@updateContest.ContestName" type="text"
                                                       value="@updateContest.ContestName" class="form-control" required>
                                                <span asp-validation-for="@updateContest.ContestName" id="error_message"
                                                      class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label asp-for="@updateContest.OpenRegistration" class="col-sm-4 col-form-label"></label>
                                            <div class="col-sm-8">
                                                <input asp-for="@updateContest.OpenRegistration" type="datetime-local" min="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" asp-format="{0:yyyy-MM-ddTHH:mm}"
                                                       value="@updateContest.OpenRegistration.ToString("yyyy-MM-ddTHH:mm")" class="form-control" required>
                                                <span asp-validation-for="@updateContest.OpenRegistration" id="error_message"
                                                      class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label asp-for="@updateContest.RegistrationDeadline" class="col-sm-4 col-form-label"></label>
                                            <div class="col-sm-8">
                                                <input asp-for="@updateContest.RegistrationDeadline" type="datetime-local" min="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" asp-format="{0:yyyy-MM-ddTHH:mm}"
                                                       value="@updateContest.RegistrationDeadline.ToString("yyyy-MM-ddTHH:mm")" class="form-control" required>
                                                <span asp-validation-for="@updateContest.RegistrationDeadline" id="error_message"
                                                      class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label asp-for="@updateContest.StartDate" class="col-sm-4 col-form-label"></label>
                                            <div class="col-sm-8">
                                                <input asp-for="@updateContest.StartDate" type="datetime-local" min="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" asp-format="{0:yyyy-MM-ddTHH:mm}"
                                                       value="@updateContest.StartDate.ToString("yyyy-MM-ddTHH:mm")" class="form-control" required>
                                                <span asp-validation-for="@updateContest.StartDate" id="error_message"
                                                      class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label asp-for="@updateContest.EndDate" class="col-sm-4 col-form-label">End date:</label>
                                            <div class="col-sm-8">
                                                <input asp-for="@updateContest.EndDate" type="datetime-local" min="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" asp-format="{0:yyyy-MM-ddTHH:mm}"
                                                       value="@updateContest.EndDate.ToString("yyyy-MM-ddTHH:mm")" class="form-control" required>
                                                <span asp-validation-for="@updateContest.EndDate" id="error_message"
                                                      class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label asp-for="@updateContest.Fee" class="col-sm-4 col-form-label"></label>
                                            <div class="col-sm-8">
                                                <input asp-for="@updateContest.Fee" type="number" min="5000"
                                                       value="@updateContest.Fee" class="form-control" required>
                                                <span asp-validation-for="@updateContest.Fee" id="error_message"
                                                      class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group row">
                                            <label asp-for="@updateContest.NumberOfParticipantsLimit" class="col-sm-4 col-form-label"></label>
                                            <div class="col-sm-8">
                                                <input asp-for="@updateContest.NumberOfParticipantsLimit" type="number" min="3"
                                                       value="@updateContest.NumberOfParticipantsLimit" class="form-control" required>
                                                <span asp-validation-for="@updateContest.NumberOfParticipantsLimit" id="error_message"
                                                      class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label asp-for="@updateContest.Host" class="col-sm-4 col-form-label"></label>
                                            <div class="col-sm-8">
                                                <input asp-for="@updateContest.Host" type="text" placeholder="Trip Host"
                                                       value="@updateContest.Host" class="form-control" required>
                                                <span asp-validation-for="@updateContest.Host" id="error_message"
                                                      class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label asp-for="@updateContest.Incharge" class="col-sm-4 col-form-label"></label>
                                            <div class="col-sm-8">
                                                <input asp-for="@updateContest.Incharge" type="text" placeholder="Staff incharge"
                                                       value="@updateContest.Incharge" class="form-control" required>
                                                <span asp-validation-for="@updateContest.Incharge" id="error_message"
                                                      class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label asp-for="@updateContest.ReqMinELO" class="col-sm-4 col-form-label"></label>
                                            <div class="col-sm-8">
                                                <input asp-for="@updateContest.ReqMinELO" type="number" min="0"
                                                       value="@updateContest.ReqMinELO" class="form-control" required>
                                                <span asp-validation-for="@updateContest.ReqMinELO" id="error_message"
                                                      class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label asp-for="@updateContest.ReqMaxELO" class="col-sm-4 col-form-label"></label>
                                            <div class="col-sm-8">
                                                <input asp-for="@updateContest.ReqMaxELO" type="number" min="0"
                                                       value="@updateContest.ReqMaxELO" class="form-control" required>
                                                <span asp-validation-for="@updateContest.ReqMaxELO" id="error_message"
                                                      class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label asp-for="@updateContest.Status" class="col-sm-4 col-form-label"></label>
                                            <div class="col-sm-8">
                                                <select class="form-control" asp-for="@updateContest.Status" asp-items="@defaultContestStatus" class="custom-select" required></select>
                                                <span asp-validation-for="@updateContest.Status" id="error_message"
                                                      class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <input asp-for="@updateContest.NumberOfParticipants" type="number"
                                       value="@updateContest.NumberOfParticipants" required hidden>

                                <div class="form-group row">
                                    <label asp-for="@updateContest.Prize" class="col-sm-4 col-form-label"></label>
                                    <div class="col-sm-8">
                                        <input asp-for="@updateContest.Prize" type="numReqElo"
                                               value="@updateContest.Prize" class="form-control" required>
                                        <span asp-validation-for="@updateContest.Prize" id="error_message"
                                              class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label asp-for="@updateContest.Address" class="col-sm-4 col-form-label"></label>
                                    <div class="col-sm-8">
                                        <input asp-for="@updateContest.Address" type="text"
                                               value="@updateContest.Address" class="form-control" required>
                                        <span asp-validation-for="@updateContest.Address" id="error_message"
                                              class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label asp-for="@updateContest.Description" class="col-sm-4 col-form-label"></label>
                                    <div class="col-sm-8">
                                        <textarea asp-for="@updateContest.Description"
                                                  value="@updateContest.Description" class="form-control" required></textarea>
                                        <span asp-validation-for="@updateContest.Description" id="error_message"
                                              class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label asp-for="@updateContest.Note" class="col-sm-4 col-form-label"></label>
                                    <div class="col-sm-8">
                                        <textarea asp-for="@updateContest.Note"
                                                  value="@updateContest.Note" class="form-control" required></textarea>
                                        <span asp-validation-for="@updateContest.Note" id="error_message"
                                              class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label asp-for="@updateContest.AfterELO" class="col-sm-4 col-form-label"></label>
                                    <div class="col-sm-8">
                                        <input asp-for="@updateContest.AfterELO" type="number" min="0"
                                               value="@updateContest.AfterELO" class="form-control" required>
                                        <span asp-validation-for="@updateContest.AfterELO" id="error_message"
                                              class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer justify-content-center">
                                <button class="btn btn-success" type="submit" value="Update">Save</button>
                                <button class="btn btn-danger" type="button" data-dismiss="modal">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        }
        else if (!(detailsContest.Status.Equals("Ended") || detailsContest.Status.Equals("Cancelled")))
        {
            <div id="editprofile" class="modal fade" role="dialog">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="content">
                    <div class="modal-content modal-addRoom">
                        <div class="modal-header">
                            <h4 class="modal-title">Edit Contest Status</h4>
                        </div>
                        <form asp-action="ManagerUpdateContestDetail" asp-controller="Manager" method="post" asp-route-id="@detailsContest.ContestId" class="form-group">
                            <div class="modal-body">
                                <div class="row justify-content-center">
                                    <div class="col-12 col-md-6">
                                        <div class="form-group row">
                                            <label asp-for="@updateContest.Status" class="col-sm-4 col-form-label"></label>
                                            <div class="col-sm-8">
                                                <select class="form-control" asp-for="@updateContest.Status" asp-items="@defaultContestStatus" class="custom-select" required></select>
                                                <span asp-validation-for="@updateContest.Status" id="error_message"
                                                      class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <input asp-for="@updateContest.ContestName" type="text" value="@updateContest.ContestName" required hidden />
                                <input asp-for="@updateContest.RegistrationDeadline" type="datetime-local" min="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" asp-format="{0:yyyy-MM-ddTHH:mm}"
                                       value="@updateContest.RegistrationDeadline.ToString("yyyy-MM-ddTHH:mm")" required hidden />
                                <input asp-for="@updateContest.StartDate" type="datetime-local" min="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" asp-format="{0:yyyy-MM-ddTHH:mm}"
                                       value="@updateContest.StartDate.ToString("yyyy-MM-ddTHH:mm")" required hidden />
                                <input asp-for="@updateContest.EndDate" type="datetime-local" min="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" asp-format="{0:yyyy-MM-ddTHH:mm}"
                                       value="@updateContest.EndDate.ToString("yyyy-MM-ddTHH:mm")" required hidden />
                                <input asp-for="@updateContest.NumberOfParticipantsLimit" type="number" value="@updateContest.NumberOfParticipantsLimit" required hidden>
                                <input asp-for="@updateContest.Host" type="text" value="@updateContest.Host" required hidden />
                                <input asp-for="@updateContest.ReqMinELO" type="number" value="@updateContest.ReqMinELO" required hidden />
                                <input asp-for="@updateContest.ReqMaxELO" type="number" value="@updateContest.ReqMaxELO" required hidden />
                                <input asp-for="@updateContest.AfterELO" type="number" value="@updateContest.AfterELO" required hidden />
                                <input asp-for="@updateContest.Prize" type="Prize" value="@updateContest.Prize" required hidden />
                                <input asp-for="@updateContest.Incharge" type="text" value="@updateContest.Incharge" required hidden />
                                <input asp-for="@updateContest.Fee" type="number" value="@updateContest.Fee" required hidden />
                                <input asp-for="@updateContest.Address" type="text" value="@updateContest.Address" required hidden />
                                <textarea asp-for="@updateContest.Description" type="text" value="@updateContest.Description" required hidden></textarea>
                                <textarea asp-for="@updateContest.Note" type="text" value="@updateContest.Note" required hidden></textarea>
                                <input asp-for="@updateContest.NumberOfParticipants" type="number" value="@updateContest.NumberOfParticipants" required hidden />
                            </div>
                            <div class="modal-footer justify-content-center">
                                <button class="btn btn-success" type="submit" value="Update">Save</button>
                                <button class="btn btn-danger" type="button" data-dismiss="modal">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        }
    }
</body>
</html>
