@model dynamic
@{
    Layout = null;
    ViewData["Title"] = "Manager Meeting Page";
    List<string> locationList = Model.Locations;
    List<BAL.ViewModels.MeetingViewModel> meetingList = Model.Meetings;
    BAL.ViewModels.MeetingViewModel createMeet = new();
    BAL.ViewModels.MeetingViewModel cancelMeet = new();
    string? search = string.Empty;
    Layout = "~/Views/Shared/_MLayout.cshtml";
}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="main-content">
        <div class="main">
            <div class="container-fluid">
                <div class="row">
                    <div class="offset-sm-6 col-sm-6  d-flex justify-content-sm-end p-md-0 mt-2 mt-sm-0 ">
                        <ol class="breadcrumb">
                            <li class="breadcrumd-item">
                                <a href="#">Manage</a>
                            </li>
                            <li class="breadcrumd-item">
                                <span>/</span>
                            </li>
                        </ol>
                    </div>
                </div>
                <section>
                    <div class="card">
                        <div class="card-body">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#home1">
                                        <i class='bx bx-home-alt-2'></i>
                                        <span>Meeting</span>
                                    </a>
                                </li>              
                            </ul>
                            
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <!-- home1 -->
                                <div class="tab-pane active" id="home1" role="tabpanel">
                                    <div class="row search">
                                        <div class="col-sm-12 d-flex">
                                            <div class="col-sm-6 d-flex address-home">
                                                @{
                                                    if (ViewBag.error != null)
                                                    {
                                                        <span class="text-danger">@ViewBag.error</span>
                                                    }
                                                }
                                            </div>
                                            <div class="col-sm-6 d-flex justify-content-end">
                                                <form asp-action="ManagerFieldTrip" asp-controller="Manager" method="get" asp-route-search="@search">                   
                                                    <div>
                                                        <label>
                                                            <input asp-for="@search" class="form-control" type="text" name="search" placeholder="Search..." value="@search">
                                                            <i class='bx bx-search-alt'></i>
                                                        </label>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row card-content">
                                        <div class="col-xl-3 col-lg-6 col-sm-6 my-3 item">
                                            <div class="card card-child">
                                                <div class="card-body add-room">
                                                    <button class="border-0" data-toggle="modal"  data-target="#addMeeting">
                                                        <span>Add Meeting</span>
                                                        <i class='bx bx-add-to-queue'></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        @foreach(var data in meetingList)
                                        {
                                            <div class="col-xl-3 col-lg-6 col-sm-6 my-3">
                                                <div class="card card-child">
                                                    <div class="room-name">
                                                        <span>Meeting</span>
                                                        <div class="status">
                                                            <!-- dùng lệnh if -->
                                                            @*<span class="stt1">Status:<h6>Processing</h6></span>*@
                                                            <span class="stt1">Status:<h6>@data.Status</h6></span>
                                                            <!-- <span class="stt2">Trạng thái:<h6>Done</h6></span>
                                                            <span class="stt3">Trạng thái:<h6>Cancle</h6></span>
                                                            <span class="stt3">Trạng thái:<h6>In debt</h6></span>-->
                                                        </div>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="room-title">
                                                            <ul>
                                                                <li>
                                                                    <h6>Meeting Name:</h6>
                                                                    <span>@data.MeetingName</span>
                                                                </li>
                                                                <li>
                                                                    <h6>Registration Deadlines:</h6>
                                                                    <span>@data.RegistrationDeadline.ToString("MM/dd/yyyy")</span>
                                                                </li>
                                                                <li>
                                                                    <h6>Start Date:</h6>
                                                                    <span>@data.StartDate.ToString("MM/dd/yyyy")</span>
                                                                </li>
                                                                <li>
                                                                    <h6>End Date:</h6>
                                                                    <span>@data.EndDate.ToString("MM/dd/yyyy")</span>
                                                                </li>
                                                                <li>
                                                                    <h6>Maximum Participants:</h6>
                                                                    <span>@data.NumberOfParticipantsLimit</span>
                                                                </li>
                                                                <li>
                                                                    <h6>Location:</h6>
                                                                    <span>@data.AreaNumber,@data.Street,@data.District,@data.City</span>
                                                                </li>
                                                                <li>
                                                                    <h6>Description:</h6>
                                                                    <span>@data.Description</span>
                                                                </li>
                                                                <li>
                                                                    <h6>Note:</h6>
                                                                    <span>@data.Note</span>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="form-group mx-auto">
                                                        <form asp-action="Meeting" asp-controller="Manager" method="get" asp-route-id="@data.MeetingId">
                                                            <button class="btn btn-primary clickable-row" type="submit">See Detail</button>
                                                        </form>                                                        
                                                            <button class="btn btn-danger" data-toggle="modal" data-target="#deleteMeeting_@data.MeetingId" type="submit">Cancel Meeting</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- remove Meeting -->
                                            <div id="deleteMeeting_@data.MeetingId" class="modal fade" role="dialog">
                                                <div class="modal-dialog modal-dialog-centered" role="content">
                                                    <div class="modal-content">
                                                        <div class="card-body">
                                                            <div class="del-title">
                                                                <i class='bx bx-error-circle'></i>
                                                                <h2>Are you sure want to cancel this Meeting ?</h2>
                                                            </div>
                                                            <div class="del-submit d-flex justify-content-center">
                                                                <form asp-action="ManagerCancelMeeting" asp-controller="Manager" method="post" >
                                                                    <input type="hidden" name="meetId" value="@data.MeetingId"/>
                                                                    <button type="submit" name="action" value="deleteMeeting" class="btn btn-success">
                                                                        Cancel Meeting
                                                                    </button>
                                                                </form>
                                                                <button class="btn btn-danger" type="button" data-dismiss="modal">Cancel</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                </div>                               
                            <!-- end tapnet -->
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <!-- add new Room -->
    <div id="addMeeting" class="modal fade" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content modal-addRoom">
                <div class="modal-header">
                    <h4 class="modal-title">Add new meeting</h4>
                </div>
                <div class="modal-body">
                    @*<form asp-action="ManagerCreateMeeting" asp-controller="Manager" method="get" onsubmit="return submitFunc()" id="form">*@
                    <form asp-action="ManagerCreateMeeting" asp-controller="Manager" method="post" id="form">
                        <div class="row p-4">
                            <div class="col-12">
                                <div class="row form-group">
                                    <label asp-for="@createMeet.MeetingName" class="col-md-3 col-form-label text-md-right">Meeting Name</label>
                                    <input asp-for="@createMeet.MeetingName" value="@createMeet.MeetingName" type="text" name="meetingname" placeholder="Meeting Name" required class="form-control col-md-7">
                                    <span asp-validation-for="@createMeet.MeetingName" id="error_message"
                                          class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>
                                </div>
                                <div class="row form-group">
                                    <label class="col-md-3 col-form-label mt-2 text-md-right">Choose Picture</label>
                                    <input type="file" name="photo" class="form-control col-md-7 mt-2" accept="image/*">

                                    <label asp-for="@createMeet.RegistrationDeadline" class="col-md-3 col-form-label mt-3 text-md-right">Registration Deadlines</label>
                                    <input asp-for="@createMeet.RegistrationDeadline" value="@createMeet.RegistrationDeadline" type="datetime-local" name="registrationDeadline" required class="form-control col-md-7 mt-3">
                                    <span asp-validation-for="@createMeet.RegistrationDeadline" id="error_message"
                                          class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>

                                    <label asp-for="@createMeet.StartDate" class="col-md-3 col-form-label mt-3 text-md-right">Start Date</label>
                                    <input asp-for="@createMeet.StartDate" value="@createMeet.StartDate" type="datetime-local" name="startDate" required class="form-control col-md-7 mt-3">
                                    <span asp-validation-for="@createMeet.StartDate" id="error_message"
                                            class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>

                                    <label asp-for="@createMeet.EndDate" class="col-md-3 col-form-label mt-3 text-md-right">End Date</label>
                                    <input asp-for="@createMeet.EndDate" value="@createMeet.EndDate" type="datetime-local" name="endDate" required class="form-control col-md-7 mt-3">
                                    <span asp-validation-for="@createMeet.EndDate" id="error_message"
                                              class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>

                                    <label asp-for="@createMeet.NumberOfParticipantsLimit"  class="col-md-3 col-form-label mt-3 text-md-right">Maximum Participants</label>
                                    <input asp-for="@createMeet.NumberOfParticipantsLimit" value="@createMeet.NumberOfParticipantsLimit" type="number" name="NumberOfParticipantsLimit" class="form-control col-md-7 mt-3" required>
                                    <span asp-validation-for="@createMeet.NumberOfParticipantsLimit" id="error_message"
                                              class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>

                                    <label asp-for="@createMeet.Host" class="col-md-3 col-form-label mt-3 text-md-right">Host</label>
                                    <input asp-for="@createMeet.Host" value="@createMeet.Host" type="text" name="host" placeholder="Meeting Host" class="form-control col-md-7 mt-3" rows="3" required>
                                    <span asp-validation-for="@createMeet.Host" id="error_message"
                                              class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>

                                    <label asp-for="@createMeet.Incharge" class="col-md-3 col-form-label mt-3 text-md-right">Incharge</label>
                                    <input asp-for="@createMeet.Incharge" value="@createMeet.Incharge" type="text" name="incharge" placeholder="Staff incharge of Meeting" class="form-control col-md-7 mt-3" rows="3" required>
                                    <span asp-validation-for="@createMeet.Incharge" id="error_message"
                                              class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>

                                    <label asp-for="@createMeet.Address" class="col-md-3 col-form-label mt-3 text-md-right">Address</label>
                                    <textarea asp-for="@createMeet.Address" value="@createMeet.Address" type="text" name="address" placeholder="Meeting Address..." class="form-control col-md-7 mt-3" rows="3" required></textarea>
                                    <span asp-validation-for="@createMeet.Address" id="error_message"
                                              class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>

                                    <label asp-for="@createMeet.Description" class="col-md-3 col-form-label mt-3 text-md-right">Description</label>
                                    <textarea asp-for="@createMeet.Description" value="@createMeet.Description" type="text" name="description" placeholder="Meeting description..." class="form-control col-md-7 mt-3" rows="3" required></textarea>
                                    <span asp-validation-for="@createMeet.Description" id="error_message"
                                              class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>

                                    <label asp-for="@createMeet.Note" class="col-md-3 col-form-label mt-3 text-md-right">Note</label>
                                    <textarea asp-for="@createMeet.Note" value="@createMeet.Note" type="text" name="note" placeholder="Meeting Note..." class="form-control col-md-7 mt-3" rows="3" required></textarea>
                                    <span asp-validation-for="@createMeet.Note" id="error_message"
                                          class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>
                                </div>
                            </div>                
                            <div class="modal-footer justify-content-center">
                                <button class="btn btn-success" type="submit" name="action" value="createRoom" >Save</button>
                                <button class="btn btn-danger" type="button" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>