@model dynamic
@{
    Layout = null;
    ViewData["Title"] = "Manager Field Trip Page";
    List<string> locationList = Model.Locations;
    List<BAL.ViewModels.FieldTripViewModel> fieldtripList = Model.FieldTrips;
    BAL.ViewModels.FieldTripViewModel createFieldTrip = Model.CreateFieldTrip != null ? Model.CreateFieldTrip : new BAL.ViewModels.FieldTripViewModel();

    //BAL.ViewModels.FieldtripDaybyDayViewModel createFieldTripDayByDay = new();
    //BAL.ViewModels.FieldTripAdditionalDetailViewModel createFieldTripRates = new();
    //BAL.ViewModels.FieldtripMediaViewModel createFieldTripMedia = new();
    //BAL.ViewModels.FieldtripInclusionViewModel createFieldTripInclsion = new();
    //BAL.ViewModels.FieldtripGettingThereViewModel createFieldTripGettingthere = new();

    string? search = string.Empty;
    Layout = "~/Views/Shared/_MLayout.cshtml";
}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="main-content">
        <div class="main">
            <div class="container-fluid">
                <div class="row">
                    <div class="offset-sm-6 col-sm-6  d-flex justify-content-sm-end p-md-0 mt-2 mt-sm-0 ">
                        <ol class="breadcrumb">
                            <li class="breadcrumd-item">
                                <a href="#">Manage</a>
                            </li>
                            <li class="breadcrumd-item">
                                <span>/</span>
                            </li>
                        </ol>
                    </div>
                </div>
                <section>
                    <div class="card">
                        <div class="card-body">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs">
                                <!-- dung vong for o day -->
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#home1">
                                        <i class='bx bx-home-alt-2'></i>
                                        <span>FieldTrip</span>
                                    </a>
                                </li>             
                            </ul>
                            
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <!-- home1 -->
                                <div class="tab-pane active" id="home1" role="tabpanel">
                                    <div class="row search">
                                        <div class="col-sm-12 d-flex">
                                            <div class="col-sm-6 d-flex address-home">
                                                @{
                                                    if (ViewBag.error != null)
                                                    {
                                                        <span class="text-danger">@ViewBag.error</span>
                                                    }
                                                }
                                            </div>
                                            <div class="col-sm-6 d-flex justify-content-end">
                                                <form asp-action="ManagerFieldTrip" asp-controller="Manager" method="get" asp-route-search="@search">                   
                                                    <div>
                                                        <label>
                                                            <input asp-for="@search" class="form-control" type="text" name="search" placeholder="Search..." value="@search">
                                                            <i class='bx bx-search-alt'></i>
                                                        </label>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row card-content">
                                        <div class="col-xl-3 col-lg-6 col-sm-6 my-3 item">
                                            <div class="card1 card-child">
                                                <div class="card-body add-club">
                                                    <button class="border-0" data-toggle="modal"  data-target="#addFieldTrip">
                                                        <span>Add FieldTrip</span>
                                                        <i class='bx bx-add-to-queue'></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- dung vong for o day -->
                                        @foreach (var data in fieldtripList)
                                        {
                                            <div class="col-xl-3 col-lg-6 col-sm-6 my-3">
                                                <div class="card1 card-child">
                                                    <div class="club-name">
                                                        <span>FieldTrip</span>
                                                        <div class="status">
                                                            @{
                                                                switch (data.Status)
                                                                {
                                                                    case "Ongoing":
                                                                    case "CheckingIn":
                                                                    case "OpenRegistration":
                                                                        {
                                                                            <span class="stt1" style="float: left;">Status:<h6>@data.Status</h6></span>
                                                                            break;
                                                                        }
                                                                    case "OnHold":
                                                                    case "ClosedRegistration":
                                                                        {
                                                                            <span class="stt3" style="float: left;">Status:<h6>@data.Status</h6></span>
                                                                            break;
                                                                        }
                                                                    case "Ended":
                                                                    case "Postponed":
                                                                    case "Cancelled":
                                                                        {
                                                                            <span class="stt2" style="float: left;">Status:<h6>@data.Status</h6></span>
                                                                            break;
                                                                        }
                                                                }
                                                            }
                                                        </div>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="club-title">
                                                            <ul>
                                                                <li>
                                                                    <h6>FieldTrip Name:</h6>
                                                                    <span>@data.TripName</span>
                                                                </li>
                                                                <li>
                                                                    <h6>Open Registration Date:</h6>
                                                                    <span>@data.OpenRegistration.ToString("dd-MM-yyyy HH:mm")</span>
                                                                </li>
                                                                <li>
                                                                    <h6>Registration Deadlines:</h6>
                                                                    <span>@data.RegistrationDeadline.ToString("dd-MM-yyyy HH:mm")</span>
                                                                </li>
                                                                <li>
                                                                    <h6>Start Date:</h6>
                                                                    <span>@data.StartDate.ToString("dd-MM-yyyy HH:mm")</span>
                                                                </li>
                                                                <li>
                                                                    <h6>End Date:</h6>
                                                                    <span>@data.EndDate.ToString("dd-MM-yyyy HH:mm")</span>
                                                                </li>
                                                                <li>
                                                                    <h6>Maximum Participants:</h6>
                                                                    <span>@data.NumberOfParticipantsLimit</span>
                                                                </li>
                                                                <li>
                                                                    <h6>Location:</h6>
                                                                    <span class="truncate">@data.AreaNumber,@data.Street,@data.District,@data.City</span>
                                                                </li>
                                                                <li>
                                                                    <h6>Description:</h6>
                                                                    <span class="truncate">@data.Description</span>
                                                                </li>
                                                                <li>
                                                                    <h6>Note:</h6>
                                                                    <span class="truncate">@data.Note</span>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="form-group mx-auto">
                                                        <form asp-action="FieldTrip" asp-controller="Manager" method="get" asp-route-id="@data.TripId">
                                                            <button class="btn btn-primary clickable-row" type="submit">See Detail</button>
                                                        </form>
                                                        @{
                                                            if (data.Status.Equals("OnHold") || data.Status.Equals("Postponed") || data.Status.Equals("CheckingIn") || data.Status.Equals("Ongoing"))
                                                            {
                                                                <button class="btn btn-danger" data-toggle="modal" data-target="#deleteFieldTrip_@data.TripId" type="submit">Cancel</button>
                                                            }
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="deleteFieldTrip_@data.TripId" class="modal fade" role="dialog">
                                                <div class="modal-dialog modal-dialog-centered" role="content">
                                                    <div class="modal-content">
                                                        <div class="card-body">
                                                            <div class="del-title">
                                                                <i class='bx bx-error-circle'></i>
                                                                <h2>Are you sure you want to cancel this FieldTrip ?</h2>
                                                            </div>
                                                            <div class="del-submit d-flex justify-content-center">       
                                                                <form asp-action="ManagerCancelFieldTrip" asp-controller="Manager" method="post" asp-route-id="@data.TripId">
                                                                    <button type="submit" name="action" value="deleteFieldTrip" class="btn btn-success">
                                                                        Yes
                                                                    </button>
                                                                </form>
                                                                <button class="btn btn-danger" type="button" data-dismiss="modal">No</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                </div>
                            </div>
                            <!-- end tapnet -->
                        </div>
                    </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <!-- add new Room -->
    <div id="addFieldTrip" class="modal fade" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content modal-addRoom">
                <div class="modal-header">
                    <h4 class="modal-title">Add new Field Trip</h4>
                </div>
                <div class="modal-body">
                    <form asp-action="ManagerCreateFieldTrip" asp-controller="Manager" method="post" id="form">
                        <div class="row p-4">
                            <div class="col-12">
                                 <div class="row form-group">
                                    <label asp-for="@createFieldTrip.TripName" class="col-md-3 col-form-label text-md-right"></label>
                                    <input asp-for="@createFieldTrip.TripName" value="@createFieldTrip.TripName" type="text" placeholder="Field Trip Name" required class="form-control col-md-7">
                                    <span asp-validation-for="@createFieldTrip.TripName" id="error_message"
                                          class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>
                                </div>
                                <div class="row form-group">
                                    <label asp-for="@createFieldTrip.OpenRegistration" class="col-md-3 col-form-label mt-3 text-md-right"></label>
                                    <input asp-for="@createFieldTrip.OpenRegistration" value="@createFieldTrip.OpenRegistration.ToString("yyyy-MM-ddTHH:mm")" type="datetime-local" required class="form-control col-md-7 mt-3" min="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" asp-format="{0:yyyy-MM-ddTHH:mm}">
                                    <span asp-validation-for="@createFieldTrip.OpenRegistration" id="error_message"
                                          class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>

                                    <label asp-for="@createFieldTrip.RegistrationDeadline" class="col-md-3 col-form-label mt-3 text-md-right"></label>
                                    <input asp-for="@createFieldTrip.RegistrationDeadline" value="@createFieldTrip.RegistrationDeadline.ToString("yyyy-MM-ddTHH:mm")" type="datetime-local" required class="form-control col-md-7 mt-3" min="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" asp-format="{0:yyyy-MM-ddTHH:mm}">
                                    <span asp-validation-for="@createFieldTrip.RegistrationDeadline" id="error_message"
                                          class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>

                                    <label asp-for="@createFieldTrip.StartDate" class="col-md-3 col-form-label mt-3 text-md-right"></label>
                                    <input asp-for="@createFieldTrip.StartDate" value="@createFieldTrip.StartDate.ToString("yyyy-MM-ddTHH:mm")" type="datetime-local" required class="form-control col-md-7 mt-3" min="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" asp-format="{0:yyyy-MM-ddTHH:mm}">
                                    <span asp-validation-for="@createFieldTrip.StartDate" id="error_message"
                                            class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>

                                    <label asp-for="@createFieldTrip.EndDate" class="col-md-3 col-form-label mt-3 text-md-right"></label>
                                    <input asp-for="@createFieldTrip.EndDate" value="@createFieldTrip.EndDate.ToString("yyyy-MM-ddTHH:mm")" type="datetime-local" required class="form-control col-md-7 mt-3" min="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" asp-format="{0:yyyy-MM-ddTHH:mm}">
                                    <span asp-validation-for="@createFieldTrip.EndDate" id="error_message"
                                              class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>

                                    <label asp-for="@createFieldTrip.NumberOfParticipantsLimit"  class="col-md-3 col-form-label mt-3 text-md-right"></label>
                                    <input asp-for="@createFieldTrip.NumberOfParticipantsLimit" value="@createFieldTrip.NumberOfParticipantsLimit" placeholder="3" type="number" class="form-control col-md-7 mt-3" required>
                                    <span asp-validation-for="@createFieldTrip.NumberOfParticipantsLimit" id="error_message"
                                              class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>

                                    <label asp-for="@createFieldTrip.Host" class="col-md-3 col-form-label mt-3 text-md-right"></label>
                                    <input asp-for="@createFieldTrip.Host" value="@createFieldTrip.Host" type="text" placeholder="Fieldtrip Host" class="form-control col-md-7 mt-3" rows="3" required>
                                    <span asp-validation-for="@createFieldTrip.Host" id="error_message"
                                              class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>

                                    <label asp-for="@createFieldTrip.InCharge" class="col-md-3 col-form-label mt-3 text-md-right"></label>
                                    <input asp-for="@createFieldTrip.InCharge" value="@createFieldTrip.InCharge" type="text" placeholder="Staff incharge of Field trip" class="form-control col-md-7 mt-3" rows="3" required>
                                    <span asp-validation-for="@createFieldTrip.InCharge" id="error_message"
                                              class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>

                                    <label asp-for="@createFieldTrip.Address" class="col-md-3 col-form-label mt-3 text-md-right"></label>
                                    <textarea asp-for="@createFieldTrip.Address" value="@createFieldTrip.Address" type="text" placeholder="Field trip Address..." class="form-control col-md-7 mt-3" rows="3" required></textarea>
                                    <span asp-validation-for="@createFieldTrip.Address" id="error_message"
                                              class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>

                                    <label asp-for="@createFieldTrip.Description" class="col-md-3 col-form-label mt-3 text-md-right"></label>
                                    <textarea asp-for="@createFieldTrip.Description" value="@createFieldTrip.Description" type="text" placeholder="Field trip Description..." class="form-control col-md-7 mt-3" rows="3" required></textarea>
                                    <span asp-validation-for="@createFieldTrip.Description" id="error_message"
                                              class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>

                                    <label asp-for="@createFieldTrip.Details" class="col-md-3 col-form-label mt-3 text-md-right"></label>
                                    <textarea asp-for="@createFieldTrip.Details" value="@createFieldTrip.Details" type="text" placeholder="Field trip Details..." class="form-control col-md-7 mt-3" rows="3" required></textarea>
                                    <span asp-validation-for="@createFieldTrip.Details" id="error_message"
                                          class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>

                                    <label asp-for="@createFieldTrip.Fee" class="col-md-3 col-form-label mt-3 text-md-right"></label>
                                    <input asp-for="@createFieldTrip.Fee" value="@createFieldTrip.Fee" type="number" placeholder="5000" class="form-control col-md-7 mt-3" rows="3" required></input>
                                    <span asp-validation-for="@createFieldTrip.Fee" id="error_message"
                                          class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>

                                    <label asp-for="@createFieldTrip.Note" class="col-md-3 col-form-label mt-3 text-md-right"></label>
                                    <textarea asp-for="@createFieldTrip.Note" value="@createFieldTrip.Note" type="text" placeholder="Field trip Note..." class="form-control col-md-7 mt-3" rows="3" required></textarea>
                                    <span asp-validation-for="@createFieldTrip.Note" id="error_message"
                                          class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>
                                    
                                    <label asp-for="@createFieldTrip.FieldtripGettingTheres.GettingThereStartEnd" class="col-md-3 col-form-label mt-3 text-md-right"></label>
                                    <textarea asp-for="@createFieldTrip.FieldtripGettingTheres.GettingThereStartEnd" value="@createFieldTrip.FieldtripGettingTheres.GettingThereStartEnd" type="text" placeholder="Start and End Details..." class="form-control col-md-7 mt-3" rows="3" required></textarea>
                                    <span asp-validation-for="@createFieldTrip.FieldtripGettingTheres.GettingThereStartEnd" id="error_message"
                                          class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>

                                    <label asp-for="@createFieldTrip.FieldtripGettingTheres.GettingThereFlight" class="col-md-3 col-form-label mt-3 text-md-right"></label>
                                    <textarea asp-for="@createFieldTrip.FieldtripGettingTheres.GettingThereFlight" value="@createFieldTrip.FieldtripGettingTheres.GettingThereFlight" type="text" placeholder="Flight if needed (leave None for none)..." class="form-control col-md-7 mt-3" rows="3" required></textarea>
                                    <span asp-validation-for="@createFieldTrip.FieldtripGettingTheres.GettingThereFlight" id="error_message"
                                          class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>

                                    <label asp-for="@createFieldTrip.FieldtripGettingTheres.GettingThereTransportation" class="col-md-3 col-form-label mt-3 text-md-right"></label>
                                    <textarea asp-for="@createFieldTrip.FieldtripGettingTheres.GettingThereTransportation" value="@createFieldTrip.FieldtripGettingTheres.GettingThereTransportation" type="text" placeholder=" Transportation if needed (leave None for none)..." class="form-control col-md-7 mt-3" rows="3" required></textarea>
                                    <span asp-validation-for="@createFieldTrip.FieldtripGettingTheres.GettingThereTransportation" id="error_message"
                                          class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>

                                    <label asp-for="@createFieldTrip.FieldtripGettingTheres.GettingThereAccommodation" class="col-md-3 col-form-label mt-3 text-md-right"></label>
                                    <textarea asp-for="@createFieldTrip.FieldtripGettingTheres.GettingThereAccommodation" value="@createFieldTrip.FieldtripGettingTheres.GettingThereAccommodation" type="text" placeholder="Accommodation if needed (leave None for none)..." class="form-control col-md-7 mt-3" rows="3" required></textarea>
                                    <span asp-validation-for="@createFieldTrip.FieldtripGettingTheres.GettingThereAccommodation" id="error_message"
                                          class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>
                                </div> 
                            </div>                
                            <div class="modal-footer justify-content-center">
                                <button class="btn btn-success" type="submit" name="action" >Save</button>
                                <button class="btn btn-danger" type="button" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>