@{
    ViewData["Title"] = "Staff BirdContest Points Page";
        Layout = "~/Views/Shared/_SLayout.cshtml";
}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home On Road</title>
    <link rel="shortcut icon" href="assets/img/logo2.png">
    <!-- CSS -->
    <link rel="stylesheet" href="assets/css/owner-style.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <!--Boxicons-->
    <link rel='stylesheet' href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css'>
    <!-- Other-->
    <link rel="stylesheet" href="https://unpkg.com/filepond-plugin-file-poster/dist/filepond-plugin-file-poster.css" >
</head>
<body>
    <!-- sidebar -->
    <div class="sidebar">
        <div class="container">
            <div class="navigation">  
                <ul class="slide-menu">
                    <div class="logo">
                        <a href="@Url.Action("StaffIndex", "Staff")">
                            <img class="logo" src="~/images/Red_whiskered_bulbul_bird_logo_eps_10_generated 1.png" alt="logo">
                        </a>
                    </div>
                    <li class="active" data-toggle="tooltip"data-placement="right" title="Overview">
                        <a href="@Url.Action("StaffIndex", "Staff")">
                            <span><i class='bx bx-tachometer'></i></span>
                            <span class="title">Overview</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            <i class='bx bx-bookmarks'></i>
                            <span class="title">Manage</span>
                            <i class='bx bxs-chevron-down drop'></i>
                        </a>
                        <ul class="collapse sub-menu" id="collapseOne">
                            <li data-toggle="tooltip"data-placement="right" title="Manage Meeting">
                                <a href="@Url.Action("StaffMeeting", "Staff")" li class="dropdown-item">
                                    <i class='bx bx-home-alt-2'></i>
                                    <span class="title">Meeting</span>
                                </a> 
                            </li>
                            <li data-toggle="tooltip"data-placement="right" title="Manage Fieldtrip">
                                <a href="@Url.Action("StaffFieldTrip", "Staff")" li class="dropdown-item">
                                    <i class='bx bx-calendar-edit'></i>
                                    <span class="title">Fieldtrip</span>
                                </a>
                            </li> 
                            <li data-toggle="tooltip"data-placement="right" title="Manage Bird Contest">
                                <a href="@Url.Action("StaffContest", "Staff")" li class="dropdown-item">
                                    <i class='bx bx-trophy'></i>
                                    <span class="title">Bird Contest</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    </li>
                    <li data-toggle="tooltip"data-placement="right" title="Staff Profile">
                        <a href="@Url.Action("StaffProfile", "Staff")">
                            <span><i class='bx bx-user'></i></span>
                            <span class="title">Staff Profile</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End sidebar -->

    <!-- Header -->
    <div class="header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="toggle float-left">
                            <i class='bx bx-menu'></i>
                        </div>
                        <div class="float-left">
                            <div class="dashboard_bar d-flex">
                                Home
                            </div>
                        </div>
                        <div class="float-right">
                            <div class="btn-group me-1 mb-1">
                                <div class="dropdown">
                                    @if (TempData["ROLE_NAME"] != null)
                                    {
                                    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        @TempData["USER_NAME"]
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="@Url.Action("StaffProfile", "Staff")"><i class='bx bx-user'></i>Staff Profile</a> <!--thêm theo user id và role-->
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="@Url.Action("Logout", "Auth")">Logout</a>
                                    </div>
                                    }
                                </div>  
                            </div>
                        </div>   
                    </div>
                </div>
            </div>
        </div>
    <!-- End header -->

    <!-- List club -->
    <div class="main-content">
        <div class="main">
            <div class="container-fluid">
                <div class="row">
                    <div class="offset-sm-6 col-sm-6  d-flex justify-content-sm-end p-md-0 mt-2 mt-sm-0 ">
                        <ol class="breadcrumb">
                            <li class="breadcrumd-item">
                                <a href="#">Quản lý</a>
                            </li>
                            <li class="breadcrumd-item">
                                <span>/</span>
                            </li>
                            <li class="breadcrumd-item">
                                <a href="owner-club-list.html">Phòng</a>
                            </li>
                            <li class="breadcrumd-item">
                                <span>/</span>
                            </li>
                            <li class="breadcrumd-item active">
                                <a href="#">Chi tiết</a>
                            </li>
                        </ol>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 customer-detail">
                        <div class="col-lg-7 customer-booking">
                            <div class="card profile mb-4">
                                <div class="card-header">
                                    <h4>Thông tin người thuê</h4>
                                    <div class="edit-info">
                                        <i class='bx bxs-edit-alt'data-toggle="modal" data-target="#editprofile"></i>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-5 text-md-right">
                                            <label for="customer-name">Họ và tên:</label>
                                        </div>
                                        <div class="col-md-7">
                                            <span>Trần Ngọc Hải</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5 text-md-right">
                                            <label for="customer-name">Số điện thoại:</label>
                                        </div>
                                        <div class="col-md-7">
                                            <span>0971520977</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5 text-md-right">
                                            <label for="customer-name">CCCD/ CMND:</label>
                                        </div>
                                        <div class="col-md-7">
                                            <span>000000000000</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5 text-md-right">
                                            <label for="customer-name">Địa chỉ:</label>
                                        </div>
                                        <div class="col-md-7">
                                            <span>Q9, Hồ Chí Minh</span>
                                        </div>
                                    </div>
                                    <div class="row mb-sm-2">
                                        <div class="col-sm-5 text-sm-right">
                                            <span>Ngày thuê:</span>
                                        </div>
                                        <div class="col-sm-7 text-sm-left">
                                            <span>25/05/2022</span>
                                        </div>
                                        
                                    </div>
                                    <div class="row mb-sm-2">
                                        <div class="col-sm-5 text-sm-right">
                                            <span>Ngày trả:</span>
                                        </div>
                                        <div class="col-sm-7 text-sm-left">
                                            <span>26/05/2022</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card profile mb-4">
                                <div class="card-header">
                                    <h4>Thông tin đặt phòng</h4>
                                </div>
                                <div class="card-body">
                                    <div class="row mb-sm-2">
                                        <div class="col-sm-5 text-sm-right">
                                            <span>Trạng thái:</span>
                                        </div>
                                        <div class="col-sm-7">
                                            <span class="destroy" style="float: left;">Đang thuê</span>

                                            <!-- Trống in ra dòng dưới -->
                                            <!-- <span class="outcome" style="float: left;">Trống</span> -->
                                            <!-- Đã cọc in ra dòng dưới -->
                                            <!-- <span class="approval" style="float: left;">Đã cọc</span> -->
                                        </div>
                                    </div>
                                    <div class="row mb-sm-2">
                                        <div class="col-sm-5 text-sm-right">
                                            <span>Mã đặt phòng:</span>
                                        </div>
                                        <div class="col-sm-7 text-sm-left">
                                            <span>C1</span>
                                        </div>
                                    </div>
                                    <div class="row mb-sm-2">
                                        <div class="col-sm-5 text-sm-right">
                                            <span>Mã Phòng:</span>
                                        </div>
                                        <div class="col-sm-7 text-sm-left">
                                            <span>001</span>
                                        </div>
                                    </div>
                                    <div class="row mb-sm-2">
                                        <div class="col-sm-5 text-sm-right">
                                            <span>Loại Phòng:</span>
                                        </div>
                                        <div class="col-sm-7 text-sm-left">
                                            <span>Bình thường</span>
                                        </div>
                                    </div>
                                    <div class="row mb-sm-2">
                                        <div class="col-sm-5 text-sm-right">
                                            <span>Mã Motel:</span>
                                        </div>
                                        <div class="col-sm-7 text-sm-left">
                                            <span>Motel1</span>
                                        </div>
                                    </div>
                                    <div class="row mb-sm-2">
                                        <div class="col-sm-5 text-sm-right">
                                            <span>Địa chỉ:</span>
                                        </div>
                                        <div class="col-sm-7 text-sm-left">
                                            <span>111A - Đình Phong Phú - Q.9 - Hồ Chí Minh</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 total-pay">
                            <div class="card rating">
                                <div class="card-body">
                                    <div class="d-flex justify-content-center pb-3">
                                        <h5 >Dịch vụ sử dụng</h5>
                                    </div>
                                    <div class="row">
                                        <div class="table-responsive">
                                            <table id="myTable" class="table table-hover table-borderless">
                                                <thead>
                                                    <tr>
                                                        <th>Mã Dịch vụ</th>
                                                        <th>Tên Dịch vụ</th>
                                                        <th>Số tiền</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>D1</td>
                                                        <td>Thuê xe</td>
                                                        <td>320,000&#8363;</td>
                                                    </tr>
                                                    <tr>
                                                        <td>D2</td>
                                                        <td>Đồ ăn</td>
                                                        <td>30,000&#8363;</td>
                                                    </tr>
                                                </tbody>
                                                <tfoot style="color: #e74c3c; border-top: 1px solid #ccc;">
                                                    <tr>
                                                        <th>Total</th>
                                                        <th></th>
                                                        <th>350,000&#8363;</th>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body flex-wrap">
                                    <div class="d-flex justify-content-center pb-3">
                                        <h5 >Tổng tiền</h5>
                                    </div>
                                    <div class="row">
                                        <div class="table-responsive">
                                            <table id="myTable" class="table table-hover table-borderless">
                                                <thead>
                                                    <tr>
                                                        <th>STT</th>
                                                        <th>Nội dung thanh toán</th>
                                                        <th>Số tiền</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>01</td>
                                                        <td>Giá Phòng</td>
                                                        <td>300,000&#8363;</td>
                                                    </tr>
                                                    <tr>
                                                        <td>02</td>
                                                        <td>Dịch vụ</td>
                                                        <td>350,000&#8363;</td>
                                                    </tr>
                                                </tbody>
                                                <tfoot style="color: #e74c3c; border-top: 1px solid #ccc;">
                                                    <tr>
                                                        <th>Total</th>
                                                        <th></th>
                                                        <th>650,000&#8363;</th>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                            <div class="d-flex justify-content-end mr-xl-5">
                                                <form action="#">
                                                    <button type="submit" class="btn btn-success">Thanh toán</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- edit Room -->
    <div id="editprofile" class="modal fade" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="content">
            <div class="modal-content modal-addRoom">
                <div class="modal-header">
                    <h4 class="modal-title">Chỉnh sửa thông tin phòng</h4>
                </div>
                <form action="#" class="form-group">
                    <div class="modal-body">
                        <div class="row justify-content-center">
                            <div class="col-12 col-md-8">
                                <div class="form-group row">
                                    <label for="username" class="col-sm-4 col-form-label">Họ tên người thuê</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" value="Trần Ngọc Hải" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="phonenumber" class="col-sm-4 col-form-label">Số điện thoại</label>
                                    <div class="col-sm-8">
                                        <input type="tel" class="form-control" value="0971520123" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="citizennumber" class="col-sm-4 col-form-label">CCCD/CMND</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" value="000000000000" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="address" class="col-sm-4 col-form-label">Địa chỉ</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" value="address" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-center">
                        <button class="btn btn-success" type="submit">Xác nhận</button>
                        <button class="btn btn-danger" type="button" data-dismiss="modal">Hủy</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
   

    <!-- jQuery first, then Popper.js, then Bootstrap JS. -->

</body>
</html>
