@model CEG_WebMVC.Models.ViewModels.Teacher.PageModel.TeacherAccountInfoPVM
@{
    ViewData["Title"] = "Teacher Account Info Page";
    // var courseInfo = Model.CourseInfo;
    // var sessionList = Model.Sessions;
    // var updateCourse = Model.UpdateCourseInfo;
    // var createSession = Model.CreateSession;
    Layout = "~/Views/Shared/_ALayout.cshtml";
}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div class="main-content">
        <div class="main">
            <div class="container-fluid">
                <div class="row">
                    <div class="offset-sm-6 col-sm-6  d-flex justify-content-sm-end p-md-0 mt-2 mt-sm-0 ">
                        <ol class="breadcrumb">
                            <li class="breadcrumd-item">
                                <a href="#">Manage</a>
                            </li>
                            <li class="breadcrumd-item">
                                <span>/</span>
                            </li>
                            <li class="breadcrumd-item">
                                <a href="@Url.Action("TeacherAccountIndex","Teacher")">Account</a>
                            </li>
                            <li class="breadcrumd-item">
                                <span>/</span>
                            </li>
                            <li class="breadcrumd-item">
                                @* <a href="@Url.Action("TeacherAccountInfo","Teacher",courseInfo.CourseId)">Info</a> *@
                            </li>
                        </ol>
                    </div>
                </div>
                @* <section>
                    <div class="card">
                        <div class="card-body">

                            <div id="accordion">
                                @if (TempData["Success"] != null)
                                {
                                    <div class="alert alert-success alert-dismissible fade show" id="notif">
                                        <i class='bx bx-message-alt-x p-1'></i>
                                        <strong class="mr-1">@TempData["Success"]</strong>
                                        <button type="button" class="close h-100" data-dismiss="alert" aria-label="Close">
                                            <span><i class='bx bx-x'></i></span>
                                        </button>
                                    </div>
                                    TempData["Success"] = null;
                                }
                                else if (TempData["Error"] != null)
                                {
                                    <div class="alert alert-danger alert-dismissible fade show" id="notif">
                                        <i class='bx bx-message-alt-x p-1'></i>
                                        <strong class="mr-1">@TempData["Error"]</strong>
                                        <button type="button" class="close h-100" data-dismiss="alert" aria-label="Close">
                                            <span><i class='bx bx-x'></i></span>
                                        </button>
                                    </div>
                                    TempData["Error"] = null;
                                }
                                <!-- Thông tin cá nhân -->
                                <div class="card mx-5 mb-2">
                                    <div class="card-header card-setting" id="headingOne">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link" data-toggle="collapse" data-target="#profile"
                                                    aria-expanded="true" aria-controls="profile">
                                                My Profile <i class='bx bx-chevron-right'></i>
                                            </button>
                                        </h5>
                                    </div>
                                    <div class="collapse show" id="profile" aria-labelledby="profile" data-parent="#accordion">
                                        <div class="card-body">
                                            <div class="user-profile">
                                                <div class="row">
                                                    <div class="col-lg-4">
                                                        <div class="profile-pic">
                                                            <img src="@managerDetail.ImagePath" id="output" width="200" />
                                                            <div class="upload">
                                                                <button class="btn btn-warning" data-toggle="modal" data-target="#uploadImg">Details</button>
                                                                <i class='bx bxs-camera-plus'></i>
                                                            </div>
                                                        </div>
                                                        <div class="profile-name">@managerDetail.FullName</div>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <div class="profile-content">
                                                            <div class="contact-infor">
                                                                <div class="info-title">
                                                                    <h4>Personal Information</h4>
                                                                </div>
                                                                <div class="info-content">
                                                                    <form asp-action="ManagerProfileUpdate" asp-controller="Manager" class="form-check">
                                                                        <div class="row username-content">
                                                                            <label class="contact-title col-md-5 col-sm-4 mt-3">Username: </label>

                                                                            <input asp-for="@managerDetail.UserName" id="userName" type="text"
                                                                                   class="form-control col-md-5 col-sm-8 mt-2" readonly
                                                                                   value="@managerDetail.UserName">
                                                                            <span asp-validation-for="@managerDetail.UserName" id="error_message"
                                                                                  class="error-message col-md-2 mt-3"></span>

                                                                        </div>
                                                                        <div class="row fullname-content">
                                                                            <label class="contact-title col-md-5 col-sm-4 mt-3">Full Name: </label>

                                                                            <input asp-for="@managerDetail.FullName" id="fullName" type="text"
                                                                                   class="form-control col-md-5 col-sm-8 mt-2" readonly
                                                                                   value="@managerDetail.FullName">
                                                                            <span asp-validation-for="@managerDetail.FullName" id="error_message"
                                                                                  class="error-message col-md-2 mt-3"></span>

                                                                        </div>
                                                                        <div class="row phone-content">
                                                                            <label class="contact-title col-md-5 col-sm-4 mt-3">Phone Number: </label>

                                                                            <input asp-for="@managerDetail.Phone" id="phone" type="tel" value="@managerDetail.Phone"
                                                                                   class="form-control col-md-5 col-sm-8 mt-2">
                                                                            <span asp-validation-for="@managerDetail.Phone" id="error_message"
                                                                                  class="error-message col-md-2 mt-3"></span>

                                                                        </div>
                                                                        <div class="row address-content">
                                                                            <label class="contact-title col-md-5 col-sm-4 mt-3">Address: </label>

                                                                            <input asp-for="@managerDetail.Address" type="text" value="@managerDetail.Address"
                                                                                   class="form-control col-md-5 col-sm-8 mt-2">
                                                                            <span asp-validation-for="@managerDetail.Address" id="error_message"
                                                                                  class="error-message col-md-2 mt-3"></span>

                                                                        </div>
                                                                        <div class="row email-content">
                                                                            <label class="contact-title col-md-5 col-sm-4 mt-3">Email: </label>

                                                                            <input asp-for="@managerDetail.Email" id="email" type="email" value="@managerDetail.Email"
                                                                                   class="form-control col-md-5 col-sm-8 mt-2">
                                                                            <span asp-validation-for="@managerDetail.Email" id="error_message"
                                                                                  class="error-message col-md-2 mt-3"></span>

                                                                        </div>
                                                                        <div class="row gender-content">
                                                                            <label class="contact-title col-md-5 col-sm-4 mt-3">Gender: </label>
                                                                            <select class="form-control col-md-5 col-sm-8 mt-2" asp-for="@managerDetail.Gender" asp-items="@genders" class="custom-select" id="gender">
                                                                            </select>
                                                                            <span asp-validation-for="@managerDetail.Gender" id="error_message"
                                                                                  class="error-message col-md-2 mt-3"></span>
                                                                        </div>
                                                                        <input asp-for="@managerDetail.ImagePath" type="text" value="@managerDetail.ImagePath" hidden />
                                                                        <div class="row pt-3 d-flex">
                                                                            <button type="submit" class="offset-3 btn btn-success">Confirm Changes</button>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--Change password -->
                                <div class="card mx-5 mb-2">
                                    <div class="card-header card-setting" id="headingTwo">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                                                    aria-expanded="false" aria-controls="collapseTwo">
                                                Change Password <i class='bx bx-chevron-right'></i>
                                            </button>
                                        </h5>
                                    </div>
                                    <div class="collapse" id="collapseTwo" aria-labelledby="headingTwo" data-parent="#accordion">
                                        <div class="card-body">
                                            <div class="card-group d-block">
                                                <form asp-action="ChangePassword" asp-controller="Staff" method="post">
                                                    <div class="row form-group">
                                                        <label asp-for=@managerPassword.password class="offset-md-3 col-md-2 col-sm-3 col-form-label">Old Password</label>
                                                        <input asp-for=@managerPassword.password class="col-md-3 col-sm-5 form-control" type="password"
                                                               required value=@managerPassword.password>
                                                        <span asp-validation-for=@managerPassword.password class="error-message col-sm-3 mt-2"></span>
                                                    </div>
                                                    <div class="row form-group">
                                                        <label asp-for=@managerPassword.Newpassword class="offset-md-3 col-md-2 col-sm-3 col-form-label">New Password</label>
                                                        <input asp-for=@managerPassword.Newpassword class="col-md-3 col-sm-5 form-control" type="password"
                                                               id="password" required value=@managerPassword.Newpassword>
                                                        <span asp-validation-for=@managerPassword.Newpassword class="error-message col-sm-3 mt-2"></span>
                                                    </div>
                                                    <div class="row form-group">
                                                        <label asp-for=@managerPassword.NewConfirmPassword class="offset-md-3 col-md-2 col-sm-3 col-form-label">Confirm</label>
                                                        <input asp-for=@managerPassword.NewConfirmPassword class="col-md-3 col-sm-5 form-control" type="password"
                                                               id="confirm" required value=@managerPassword.NewConfirmPassword>
                                                        <span asp-validation-for=@managerPassword.NewConfirmPassword class="error-message col-sm-3 mt-2"></span>
                                                    </div>
                                                    <div class="row form-group justify-content-center">
                                                        <button type="submit" class="btn btn-success">Confirm Change</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </section> *@
            </div>
        </div>
    </div>
    @* <div id="uploadImg" class="modal fade" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="content">
            <div class="modal-content modal-addRoom">
                <div class="modal-header">
                    <h4 class="modal-title">Change Profile Picture</h4>
                </div>
                <form asp-action="UploadImage" asp-controller="Manager" enctype="multipart/form-data">
                    <div class="modal-body">
                        <label class="custom-control-label d-flex">
                            <input asp-for="@formFile" type="file" class="custom-file" accept=".jpg, .jpeg, .png" name="photo" onchange="loadFile(event)">
                        </label>
                    </div>
                    <div class="modal-footer justify-content-center">
                        <button class="btn btn-success" type="submit" id="confirm">Save</button>
                        <button class="btn btn-danger" type="button" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div> *@
</body>
</html>