<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Bird Club System</title>
    <!-- CSS -->
    <link rel="stylesheet" href="~/css/owner-style.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
        <!--Boxicons-->
        <link rel='stylesheet' href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css'>
        <!-- Other-->
        <link rel="stylesheet" href="https://unpkg.com/filepond-plugin-file-poster/dist/filepond-plugin-file-poster.css" >
        <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,100&family=Roboto+Condensed:wght@400;700&display=swap"
        rel="stylesheet">
        <link rel="stylesheet" href="~/fonts/fontawesome-free-5.15.4-web/css/all.min.css">
        <!-- owl carousels -->
        <link rel="stylesheet" href="~/css/owl.carousel.min.css">
        <link rel="stylesheet" href="~/css/owl.theme.default.min.css">

        <!-- main CSS -->
        <link rel="stylesheet" href="~/css/main.css">
</head>
<body>
    <!-- sidebar -->
    <div class="sidebar">
        <div class="container">
            <div class="navigation">  
                <ul class="slide-menu">
                    <div class="logo">
                        <a href="@Url.Action("ManagerIndex", "Manager")">
                            <img class="logo" src="~/images/Red_whiskered_bulbul_bird_logo_eps_10_generated 1.png" alt="logo">
                        </a>
                    </div>
                    <li class="active" data-toggle="tooltip"data-placement="right" title="Overview">
                        <a href="@Url.Action("ManagerIndex", "Manager")">
                            <span><i class='bx bx-tachometer'></i></span>
                            <span class="title">Overview</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            <i class='bx bx-bookmarks'></i>
                            <span class="title">Manage</span>
                            <i class='bx bxs-chevron-down drop'></i>
                        </a>
                        <ul class="collapse sub-menu" id="collapseOne">
                            <li data-toggle="tooltip"data-placement="right" title="Manage Meeting">
                                <a href="@Url.Action("ManagerMeeting", "Manager")" li class="dropdown-item">
                                    <i class='bx bx-home-alt-2'></i>
                                    <span class="title">Meeting</span>
                                </a> 
                            </li>
                            <li data-toggle="tooltip"data-placement="right" title="Manage Fieldtrip">
                                <a href="@Url.Action("ManagerFieldtrip", "Manager")" li class="dropdown-item">
                                    <i class='bx bx-calendar-edit'></i>
                                    <span class="title">Fieldtrip</span>
                                </a>
                            </li> 
                            <li data-toggle="tooltip"data-placement="right" title="Manage Bird Contest">
                                <a href="@Url.Action("ManagerContest", "Manager")" li class="dropdown-item">
                                    <i class='bx bx-trophy'></i>
                                    <span class="title">Bird Contest</span>
                                </a>
                            </li>
                            <li data-toggle="tooltip" data-placement="right" title="Manage Member Status">
                                <a href="@Url.Action("ManagerMemberStatus", "Manager")" li class="dropdown-item">
                                    <i class='bx bx-message-square-check'></i>
                                    <span class="title">Member Status</span>
                                </a>
                            </li>
                            <li data-toggle="tooltip" data-placement="right" title="Manage Member Status">
                                <a href="@Url.Action("ManagerBlog", "Manager")" li class="dropdown-item">
                                    <i class='bx bx-conversation'></i>
                                    <span class="title">Blog</span>
                                </a>
                            </li>
                            <li data-toggle="tooltip" data-placement="right" title="Manage Member Status">
                                <a href="@Url.Action("ManagerNews", "Manager")" li class="dropdown-item">
                                    <i class='bx bx-message-square'></i>
                                    <span class="title">News</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li data-toggle="tooltip"data-placement="right" title="Manage Feedback">
                        <a href="@Url.Action("ManagerFeedback", "Manager")">
                            <span><i class="bx bx-detail"></i></span>
                            <span class="title">Feedback</span>
                        </a>
                    </li>
                    <li data-toggle="tooltip"data-placement="right" title="Thống kê">
                            <a href="@Url.Action("ManagerStatistical", "Manager")">
                                <span><i class='bx bx-line-chart'></i></span>
                                <span class="title">Statical</span>
                            </a>
                    </li>
                    <li data-toggle="tooltip"data-placement="right" title="Thông báo">
                            <a href="@Url.Action("ManagerNotification", "Manager")">
                                <span><i class='bx bx-notification'></i></span>
                                <span class="title">Notification</span>
                            </a>
                    </li>
                    <li data-toggle="tooltip"data-placement="right" title="Manager Profile">
                        <a href="@Url.Action("ManagerProfile", "Manager")">
                            <span><i class='bx bx-user'></i></span>
                            <span class="title">Manager Profile</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End sidebar -->

    <!-- Header -->
    <div class="header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="toggle float-left">
                            <i class='bx bx-menu'></i>
                        </div>
                        <div class="float-left">
                            <div class="dashboard_bar d-flex">
                                Home
                            </div>
                        </div>
                        <div class="float-right">
                            <div class="btn-group me-1 mb-1">
                                <div class="dropdown">
                                    @if (TempData["ROLE_NAME"] != null)
                                    {
                                    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        @TempData["USER_NAME"]
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="@Url.Action("ManagerProfile", "Manager")"><i class='bx bx-user'></i>Manager Profile</a> <!--thêm theo user id và role-->
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="@Url.Action("Logout", "Auth")">Logout</a>
                                    </div>
                                    }
                                </div>  
                            </div>
                        </div>   
                    </div>
                </div>
            </div>
        </div>
        @RenderBody()
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/owner-script.js"></script>
    <script src="~/js/user-script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.5.0-beta.5/lightgallery.es5.min.js"></script>
    <script src="https://unpkg.com/filepond-plugin-file-poster/dist/filepond-plugin-file-poster.js"></script>
</body>
</html>
