@page "/Admin/Account/Index"
@model CEG_RazorWebApp.Pages.Admin.Account.AccountIndexModel
@{
    ViewData["Title"] = "Admin All Account Statuses Page";
    string? search = string.Empty;
    var createParent = Model.CreateParent;
    var createTeacher = Model.CreateTeacher;
    var createStudent = Model.CreateStudent;
    var accountStatuses = Model.AccountStatuses;
    Layout = Model.LayoutUrl;
}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewData["Title"]</title>
    </head>
    <body>
        <div class="main-content">
            <div class="main">
                <div class="container-fluid">
                    <div class="row">
                        <div class="offset-sm-6 col-sm-6  d-flex justify-content-sm-end p-md-0 mt-2 mt-sm-0 ">
                            <ol class="breadcrumb">
                                <li class="breadcrumd-item">
                                    <a href="#">Manage</a>
                                </li>
                                <li class="breadcrumd-item">
                                    <span>/</span>
                                </li>
                                <li class="breadcrumd-item">
                                    <a href="/Admin/Account/index">Account</a>
                                </li>
                            </ol>
                        </div>
                    </div>
                    <section>
                        <div class="card">
                            <div class="card-body">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs">
                                    <!-- dung vong for o day -->
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="tab" href="#home1">
                                            <i class='bx bx-home-alt-2'></i>
                                            <span>All Accounts</span>
                                        </a>
                                    </li>
                                </ul>
                                @if (TempData["Success"] != null)
                                {
                                    <div class="alert alert-success alert-dismissible fade show" id="notif">
                                        <i class='bx bx-message-alt-x p-1'></i>
                                        <strong class="mr-1">@TempData["Success"]</strong>
                                        <button type="button" class="close h-100" data-dismiss="alert" aria-label="Close">
                                            <span><i class='bx bx-x'></i></span>
                                        </button>
                                    </div>
                                    TempData.Remove("Success");
                                }
                                else if (TempData["Error"] != null)
                                {
                                    <div class="alert alert-danger alert-dismissible fade show" id="notif">
                                        <i class='bx bx-message-alt-x p-1'></i>
                                        <strong class="mr-1">@TempData["Error"]</strong>
                                        <button type="button" class="close h-100" data-dismiss="alert" aria-label="Close">
                                            <span><i class='bx bx-x'></i></span>
                                        </button>
                                    </div>
                                    TempData.Remove("Success");
                                }

                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <!-- home1 -->
                                    <div class="tab-pane active" id="home1" role="tabpanel">
                                        <div class="row search">
                                            <div class="col-sm-12 d-flex">
                                                <div class="col-sm-6 d-flex address-home">
                                                    <div class="rating-room">
                                                        <button class="button--primary btn-success bg-success shadow btn-xs text-white" data-toggle="modal" data-target="#addParent" type="submit">Create Parent Account</button>
                                                    </div>
                                                    <div class="rating-room">
                                                        <button class="button--primary btn-success bg-success shadow btn-xs text-white" data-toggle="modal" data-target="#addStudent" type="submit">Create Student Account</button>
                                                    </div>
                                                    <div class="rating-room">
                                                        <button class="button--primary btn-success bg-success shadow btn-xs text-white" data-toggle="modal" data-target="#addTeacher" type="submit">Create Teacher Account</button>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 d-flex justify-content-end">
                                                    <form method="get" asp-route-search="@search">
                                                        <div>
                                                            <label>
                                                                <input asp-for="@search" class="form-control" type="text" placeholder="Search Username..." value="@search">
                                                                <i class='bx bx-search-alt'></i>
                                                            </label>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="history-table_wrapper" class="dataTables_wrapper no-footer">
                                            <form method="put">
                                                <table id="history-table"
                                                       class="table table-striped table-bordered dataTable no-footer"
                                                       aria-describedby="history-table_info">
                                                    <thead>
                                                        <tr>
                                                            <th class="sorting sorting_asc" tabindex="0"
                                                                aria-controls="history-table" rowspan="1"
                                                                colspan="1" aria-sort="ascending"
                                                                aria-label="Account User Name: activate to sort column ascending">
                                                                Username
                                                            </th>
                                                            <th class="sorting sorting_asc" tabindex="0"
                                                                aria-controls="history-table" rowspan="1"
                                                                colspan="1" aria-sort="ascending"
                                                                aria-label="Account Full Name: activate to sort column ascending">
                                                                Full name
                                                            </th>
                                                            <th class="sorting sorting_asc" tabindex="0"
                                                                aria-controls="history-table" rowspan="1"
                                                                colspan="1" aria-sort="ascending"
                                                                aria-label="Gender: activate to sort column ascending">
                                                                Gender
                                                            </th>
                                                            <th class="sorting sorting_asc" tabindex="0"
                                                                aria-controls="history-table" rowspan="1"
                                                                colspan="1" aria-sort="ascending"
                                                                aria-label="Account Created Date: activate to sort column ascending">
                                                                Created Date
                                                            </th>
                                                            <th class="sorting sorting_asc" tabindex="0"
                                                                aria-controls="history-table" rowspan="1"
                                                                colspan="1" aria-sort="ascending"
                                                                aria-label="Account Role: activate to sort column ascending">
                                                                Role
                                                            </th>
                                                            <th class="sorting sorting_asc" tabindex="0"
                                                                aria-controls="history-table" rowspan="1"
                                                                colspan="1" aria-sort="ascending"
                                                                aria-label="Status: activate to sort column ascending">
                                                                Status
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @{
                                                            for (int i = 0; i < accountStatuses.Count(); i++)
                                                            {
                                                            <tr class="@("clicks-row "+ (i%2 == 0 ? "even" : "odd")) " data-href="#"
                                                                data-bs-toggle="tooltip" data-bs-placement="right"
                                                                title="More Details">
                                                                <td class="sorting_1">
                                                                    <input type="hidden" asp-for="@accountStatuses[i].UserName" name="listRequest[@i].UserName" value="@accountStatuses[i].UserName" class="form-control" />
                                                                    <a asp-page-handler="Info" asp-route-accountId="@accountStatuses[i].AccountId">@accountStatuses[i].UserName</a>
                                                                </td>
                                                                <td>
                                                                    <input type="hidden" asp-for="@accountStatuses[i].FullName" name="listRequest[@i].FullName" value="@accountStatuses[i].FullName" class="form-control" />
                                                                    @accountStatuses[i].FullName
                                                                </td>
                                                                <td>
                                                                    <input type="hidden" asp-for="@accountStatuses[i].Gender" name="listRequest[@i].Gender" value="@accountStatuses[i].Gender" class="form-control" />
                                                                    @accountStatuses[i].Gender
                                                                </td>
                                                                <td>
                                                                    <input type="hidden" asp-for="@accountStatuses[i].CreatedDate" name="listRequest[@i].CreatedDate" value="@accountStatuses[i].CreatedDate" class="form-control" />
                                                                    @accountStatuses[i].CreatedDate.ToString("dd-MM-yyyy HH:mm")
                                                                </td>
                                                                <td>
                                                                    <input type="hidden" asp-for="@accountStatuses[i].Role" name="listRequest[@i].Role" value="@accountStatuses[i].Role" class="form-control" />
                                                                    @accountStatuses[i].Role
                                                                </td>
                                                                <td>
                                                                    <select class="form-control" asp-for="@accountStatuses[i].Status" asp-items="@accountStatuses[i].DefaultAccountStatusSelectList" class="custom-select" name="listRequest[@i].Status">
                                                                    </select>
                                                                </td>
                                                            </tr>
                                                            }
                                                        }
                                                    </tbody>
                                                </table>
                                                <div class="row col-12 d-flex">
                                                    <div class="rating-room">
                                                        <button class="button--primary btn-success bg-success shadow btn-xs text-white" type="submit" style="">Save Changes</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <!-- end tapnet -->
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <div id="addStudent" class="modal fade" role="dialog">
            <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                <div class="modal-content modal-addRoom">
                    <div class="modal-header">
                        <h4 class="modal-title">Add new Student Account</h4>
                    </div>
                    <div class="modal-body">
                        <form method="post" asp-page-handler="Student">
                            <div class="row p-4">
                                <div class="col-12">
                                    <div class="row form-group">
                                        <label asp-for="@createStudent.Account.Username" class="col-md-3 col-form-label text-md-right"></label>
                                        <input asp-for="@createStudent.Account.Username" value="@createStudent.Account.Username" type="text" placeholder="User Name" required class="form-control col-md-7">
                                        <span asp-validation-for="@createStudent.Account.Username" id="error_message"
                                              class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>

                                        <label asp-for="@createStudent.Account.Fullname" class="col-md-3 col-form-label text-md-right"></label>
                                        <input asp-for="@createStudent.Account.Fullname" value="@createStudent.Account.Fullname" type="text" placeholder="Full Name" required class="form-control col-md-7">
                                        <span asp-validation-for="@createStudent.Account.Fullname" id="error_message"
                                              class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>

                                        <label asp-for="@createStudent.ParentUsername" class="col-md-3 col-form-label text-md-right"></label>
                                        <input asp-for="@createStudent.ParentUsername" value="@createStudent.ParentUsername" type="text" placeholder="Parent's Account User Name" required class="form-control col-md-7">
                                        <span asp-validation-for="@createStudent.ParentUsername" id="error_message"
                                              class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>

                                        <label asp-for="@createStudent.Birthdate" class="col-md-3 col-form-label text-md-right"></label>
                                        <input asp-for="@createStudent.Birthdate" value="@createStudent.Birthdate.ToString("yyyy-MM-ddTHH:mm")" type="datetime-local" min="@DateTime.Now.AddYears(-16).ToString("yyyy-MM-ddTHH:mm")" max="@DateTime.Now.AddYears(-12).ToString("yyyy-MM-ddTHH:mm")" asp-format="{0:yyyy-MM-ddTHH:mm}" required class="form-control col-md-7">
                                        <span asp-validation-for="@createStudent.Birthdate" id="error_message"
                                              class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>

                                        <label asp-for="@createStudent.Description" class="col-md-3 col-form-label text-md-right"></label>
                                        <textarea asp-for="@createStudent.Description" value="@createStudent.Description" required class="form-control col-md-7"></textarea>
                                        <span asp-validation-for="@createStudent.Description" id="error_message"
                                              class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>

                                        <label asp-for="@createStudent.Account.Gender" class="col-md-3 col-form-label mt-3 text-md-right"></label>
                                        <select class="form-control col-md-7 custom-select" asp-for="@createStudent.Account.Gender" asp-items="@createStudent.Account.DefaultAccountGenderSelectList"></select>
                                        <span asp-validation-for="@createStudent.Account.Gender" id="error_message"
                                              class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>

                                        <label asp-for="@createStudent.Account.Password" class="col-md-3 col-form-label mt-3 text-md-right"></label>
                                        <input asp-for="@createStudent.Account.Password" value="@createStudent.Account.Password" type="password" placeholder="Password" class="form-control col-md-7 mt-3" required>
                                        <span asp-validation-for="@createStudent.Account.Password" id="error_message"
                                              class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>

                                        <label asp-for="@createStudent.Account.ConfirmPassword" class="col-md-3 col-form-label mt-3 text-md-right"></label>
                                        <input asp-for="@createStudent.Account.ConfirmPassword" value="@createStudent.Account.ConfirmPassword" type="password" placeholder="Confirm Password" class="form-control col-md-7 mt-3" required>
                                        <span asp-validation-for="@createStudent.Account.ConfirmPassword" id="error_message"
                                              class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>
                                    </div>
                                </div>
                                <div class="modal-footer justify-content-center" style="margin-left:400px;">
                                    <button class="btn btn-success" type="submit">Create</button>
                                    <button class="btn btn-danger" type="button" data-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div id="addParent" class="modal fade" role="dialog">
            <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                <div class="modal-content modal-addRoom">
                    <div class="modal-header">
                        <h4 class="modal-title">Add new Parent Account</h4>
                    </div>
                    <div class="modal-body">
                        <form method="post" asp-page-handler="Parent">
                            <div class="row p-4">
                                <div class="col-12">
                                    <div class="row form-group">
                                        <label asp-for="@createParent.Account.Username" class="col-md-3 col-form-label text-md-right"></label>
                                        <input asp-for="@createParent.Account.Username" value="@createParent.Account.Username" type="text" placeholder="User Name" required class="form-control col-md-7">
                                        <span asp-validation-for="@createParent.Account.Username" id="error_message"
                                              class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>

                                        <label asp-for="@createParent.Account.Fullname" class="col-md-3 col-form-label text-md-right"></label>
                                        <input asp-for="@createParent.Account.Fullname" value="@createParent.Account.Fullname" type="text" placeholder="Full Name" required class="form-control col-md-7">
                                        <span asp-validation-for="@createParent.Account.Fullname" id="error_message"
                                              class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>

                                        <label asp-for="@createParent.Address" class="col-md-3 col-form-label text-md-right"></label>
                                        <textarea asp-for="@createParent.Address" value="@createParent.Address" required class="form-control col-md-7"></textarea>
                                        <span asp-validation-for="@createParent.Address" id="error_message"
                                              class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>

                                        <label asp-for="@createParent.Account.Gender" class="col-md-3 col-form-label mt-3 text-md-right"></label>
                                        <select class="form-control col-md-7 custom-select" asp-for="@createParent.Account.Gender" asp-items="@createParent.Account.DefaultAccountGenderSelectList"></select>
                                        <span asp-validation-for="@createParent.Account.Gender" id="error_message"
                                              class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>

                                        <label asp-for="@createParent.Email" class="col-md-3 col-form-label mt-3 text-md-right"></label>
                                        <input asp-for="@createParent.Email" value="@createParent.Email" type="email" placeholder="Email" class="form-control col-md-7 mt-3" required>
                                        <span asp-validation-for="@createParent.Email" id="error_message"
                                              class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>

                                        <label asp-for="@createParent.Phone" class="col-md-3 col-form-label mt-3 text-md-right"></label>
                                        <input asp-for="@createParent.Phone" value="@createParent.Phone" type="tel" placeholder="Phone number" class="form-control col-md-7 mt-3" required>
                                        <span asp-validation-for="@createParent.Phone" id="error_message"
                                              class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>

                                        <label asp-for="@createParent.Account.Password" class="col-md-3 col-form-label mt-3 text-md-right"></label>
                                        <input asp-for="@createParent.Account.Password" value="@createParent.Account.Password" type="password" placeholder="Password" class="form-control col-md-7 mt-3" required>
                                        <span asp-validation-for="@createParent.Account.Password" id="error_message"
                                              class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>

                                        <label asp-for="@createParent.Account.ConfirmPassword" class="col-md-3 col-form-label mt-3 text-md-right"></label>
                                        <input asp-for="@createParent.Account.ConfirmPassword" value="@createParent.Account.ConfirmPassword" type="password" placeholder="Confirm Password" class="form-control col-md-7 mt-3" required>
                                        <span asp-validation-for="@createParent.Account.ConfirmPassword" id="error_message"
                                              class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>
                                    </div>
                                </div>
                                <div class="modal-footer justify-content-center" style="margin-left:400px;">
                                    <button class="btn btn-success" type="submit">Create</button>
                                    <button class="btn btn-danger" type="button" data-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div id="addTeacher" class="modal fade" role="dialog">
            <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                <div class="modal-content modal-addRoom">
                    <div class="modal-header">
                        <h4 class="modal-title">Add new Teacher Account</h4>
                    </div>
                    <div class="modal-body">
                        <form method="post" asp-page-handler="Teacher">
                            <div class="row p-4">
                                <div class="col-12">
                                    <div class="row form-group">
                                        <label asp-for="@createTeacher.Account.Username" class="col-md-3 col-form-label text-md-right"></label>
                                        <input asp-for="@createTeacher.Account.Username" value="@createTeacher.Account.Username" type="text" placeholder="User Name" required class="form-control col-md-7">
                                        <span asp-validation-for="@createTeacher.Account.Username" id="error_message"
                                              class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>

                                        <label asp-for="@createTeacher.Account.Fullname" class="col-md-3 col-form-label text-md-right"></label>
                                        <input asp-for="@createTeacher.Account.Fullname" value="@createTeacher.Account.Fullname" type="text" placeholder="Full Name" required class="form-control col-md-7">
                                        <span asp-validation-for="@createTeacher.Account.Fullname" id="error_message"
                                              class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>

                                        <label asp-for="@createTeacher.Address" class="col-md-3 col-form-label text-md-right"></label>
                                        <textarea asp-for="@createTeacher.Address" value="@createTeacher.Address" required class="form-control col-md-7"></textarea>
                                        <span asp-validation-for="@createTeacher.Address" id="error_message"
                                              class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>

                                        <label asp-for="@createTeacher.Account.Gender" class="col-md-3 col-form-label mt-3 text-md-right"></label>
                                        <select class="form-control col-md-7 custom-select" asp-for="@createTeacher.Account.Gender" asp-items="@createTeacher.Account.DefaultAccountGenderSelectList"></select>
                                        <span asp-validation-for="@createTeacher.Account.Gender" id="error_message"
                                              class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>

                                        <label asp-for="@createTeacher.Email" class="col-md-3 col-form-label mt-3 text-md-right"></label>
                                        <input asp-for="@createTeacher.Email" value="@createTeacher.Email" type="email" placeholder="Email" class="form-control col-md-7 mt-3" required>
                                        <span asp-validation-for="@createTeacher.Email" id="error_message"
                                              class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>

                                        <label asp-for="@createTeacher.Phone" class="col-md-3 col-form-label mt-3 text-md-right"></label>
                                        <input asp-for="@createTeacher.Phone" value="@createTeacher.Phone" type="tel" placeholder="Phone number" class="form-control col-md-7 mt-3" required>
                                        <span asp-validation-for="@createTeacher.Phone" id="error_message"
                                              class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>

                                        <label asp-for="@createTeacher.Account.Password" class="col-md-3 col-form-label mt-3 text-md-right"></label>
                                        <input asp-for="@createTeacher.Account.Password" value="@createTeacher.Account.Password" type="password" placeholder="Password" class="form-control col-md-7 mt-3" required>
                                        <span asp-validation-for="@createTeacher.Account.Password" id="error_message"
                                              class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>

                                        <label asp-for="@createTeacher.Account.ConfirmPassword" class="col-md-3 col-form-label mt-3 text-md-right"></label>
                                        <input asp-for="@createTeacher.Account.ConfirmPassword" value="@createTeacher.Account.ConfirmPassword" type="password" placeholder="Confirm Password" class="form-control col-md-7 mt-3" required>
                                        <span asp-validation-for="@createTeacher.Account.ConfirmPassword" id="error_message"
                                              class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>
                                    </div>
                                </div>
                                <div class="modal-footer justify-content-center" style="margin-left:400px;">
                                    <button class="btn btn-success" type="submit">Create</button>
                                    <button class="btn btn-danger" type="button" data-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        @* <partial name="PartialViews/_CreateTeacherPartial" model="new AccountIndexModel.CreateTeacherModel(createTeacher)"/> *@
    </body>
</html>
