@page "/Admin/Account/{accountId}/Info"
@model CEG_RazorWebApp.Pages.Admin.Account.AccountInfoModel
@{
    ViewData["Title"] = "Admin View User Account Info Page";
    var accountInfo = Model.AccountInfo;
    Layout = Model.LayoutUrl;
}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewData["Title"]</title>
    </head>
    <body>
        <div class="main-content">
            <div class="main">
                <div class="container-fluid">
                    <div class="row">
                        <div class="offset-sm-6 col-sm-6  d-flex justify-content-sm-end p-md-0 mt-2 mt-sm-0 ">
                            <ol class="breadcrumb">
                                <li class="breadcrumd-item">
                                    <a href="#">Manage</a>
                                </li>
                                <li class="breadcrumd-item">
                                    <span>/</span>
                                </li>
                                <li class="breadcrumd-item">
                                    <a href="/Admin/Account/Index">Account</a>
                                </li>
                                <li class="breadcrumd-item">
                                    <span>/</span>
                                </li>
                                <li class="breadcrumd-item">
                                    <a href="/Admin/Account/@accountInfo.AccountId/Info">@accountInfo.AccountId</a>
                                </li>
                                <li class="breadcrumd-item">
                                    <span>/</span>
                                </li>
                                <li class="breadcrumd-item">
                                    <a href="/Admin/Account/@accountInfo.AccountId/Info">Info</a>
                                </li>
                            </ol>
                        </div>
                    </div>
                @if (TempData["Success"] != null)
                {
                    <div class="alert alert-success alert-dismissible fade show" id="notif">
                        <i class='bx bx-message-alt-x p-1'></i>
                        <strong class="mr-1">@TempData["Success"]</strong>
                        <button type="button" class="close h-100" data-dismiss="alert" aria-label="Close">
                            <span><i class='bx bx-x'></i></span>
                        </button>
                    </div>
                    TempData.Remove("Success");
                }
                else if (TempData["Error"] != null)
                {
                    <div class="alert alert-danger alert-dismissible fade show" id="notif">
                        <i class='bx bx-message-alt-x p-1'></i>
                        <strong class="mr-1">@TempData["Error"]</strong>
                        <button type="button" class="close h-100" data-dismiss="alert" aria-label="Close">
                            <span><i class='bx bx-x'></i></span>
                        </button>
                    </div>
                    TempData.Remove("Success");
                }
                    <div class="row">
                        <div class="col-12 customer-booking">
                            <div class="row">
                                <div class="card profile col-12 mb-4">
                                    <div class="card-header">
                                        <h4>Account Information</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="row mb-sm-2">
                                            <div class="col-md-5 text-md-right">
                                                <label class="col-form-label">Account ID:</label>
                                            </div>
                                            <div class="col-md-7">
                                                <span>
                                                    @accountInfo.AccountId
                                                </span>
                                            </div>
                                        </div>
                                    <div class="row mb-sm-2">
                                        <div class="col-md-5 text-md-right">
                                            <label class="col-form-label">Username:</label>
                                        </div>
                                        <div class="col-md-7">
                                            <span>
                                                @accountInfo.Username
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row mb-sm-2">
                                        <div class="col-md-5 text-md-right">
                                            <label class="col-form-label">Full Name:</label>
                                        </div>
                                        <div class="col-md-7">
                                            <span>
                                                @accountInfo.Fullname
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row mb-sm-2">
                                        <div class="col-md-5 text-md-right">
                                            <label class="col-form-label">Gender:</label>
                                        </div>
                                        <div class="col-md-7">
                                            <span>
                                                @accountInfo.Gender
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row mb-sm-2">
                                        <div class="col-md-5 text-md-right">
                                            <label class="col-form-label">Created Date:</label>
                                        </div>
                                        <div class="col-md-7">
                                            <span>
                                                @accountInfo.CreatedDate
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row mb-sm-2">
                                        <div class="col-md-5 text-md-right">
                                            <label class="col-form-label">Role:</label>
                                        </div>
                                        <div class="col-md-7">
                                            <span>
                                                @accountInfo.Role
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row mb-sm-2">
                                        <div class="col-md-5 text-md-right">
                                            <label class="col-form-label">Status:</label>
                                        </div>
                                        <div class="col-md-7">
                                            <span>
                                                @accountInfo.Status
                                            </span>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>