@page "/Admin/Class/Index"
@model CEG_RazorWebApp.Pages.Admin.Class.ClassIndexModel
@{
    Layout = null;
    ViewData["Title"] = "Admin All Classes Page";
    string? search = string.Empty;

    var classes = Model.Classes;
    var createClass = Model.CreateClass;

    Layout = "~/Pages/Shared/_ALayout.cshtml";
}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div class="main-content">
        <div class="main">
            <div class="container-fluid">
                <div class="row">
                    <div class="offset-sm-6 col-sm-6  d-flex justify-content-sm-end p-md-0 mt-2 mt-sm-0 ">
                        <ol class="breadcrumb">
                            <li class="breadcrumd-item">
                                <a href="#">Manage</a>
                            </li>
                            <li class="breadcrumd-item">
                                <span>/</span>
                            </li>
                            <li class="breadcrumd-item">
                                <a href="/Admin/Class/Index">Class</a>
                            </li>
                        </ol>
                    </div>
                </div>
                <section>
                    <div class="card">
                        <div class="card-body">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs">
                                <!-- dung vong for o day -->
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#home1">
                                        <i class='bx bx-home-alt-2'></i>
                                        <span>All Classs</span>
                                    </a>
                                </li>
                            </ul>
                            <div id="alertContainer"></div>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <!-- home1 -->
                                <div class="tab-pane active" id="home1" role="tabpanel">
                                    <div class="row search">
                                        <div class="col-sm-12 d-flex">
                                            <div class="col-sm-6 d-flex address-home">
                                            </div>
                                            <div class="col-sm-6 d-flex justify-content-end">
                                                <form method="get" asp-route-search="@search">
                                                    <div>
                                                        <label>
                                                            <input asp-for="@search" class="form-control" type="text" name="search" placeholder="Search..." value="@search">
                                                            <i class='bx bx-search-alt'></i>
                                                        </label>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row card-content" id="classList">
                                        <div class="col-xl-3 col-lg-6 col-sm-6 my-3 item">
                                            <div class="card1 card-child">
                                                <div class="card-body add-club">
                                                    <button class="border-0" data-toggle="modal" data-target="#addClass">
                                                        <span>Add Class</span>
                                                        <i class='bx bx-add-to-queue'></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- dung vong for o day -->
                                    </div>
                                    <!-- end tapnet -->
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <div id="addClass" class="modal fade" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content modal-addRoom">
                <div class="modal-header">
                    <h4 class="modal-title">Add new Class</h4>
                </div>
                <div class="modal-body">
                    <form method="post" id="form">
                        <div class="row p-4">
                            <div class="col-12">
                                <div class="row form-group">
                                    <label asp-for="@createClass.ClassName" class="col-md-3 col-form-label text-md-right"></label>
                                    <input asp-for="@createClass.ClassName" value="@createClass.ClassName" type="text" placeholder="Class Name..." required class="form-control col-md-7">
                                    <span asp-validation-for="@createClass.ClassName" id="error_message"
                                          class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>

                                    <label asp-for="@createClass.MinStudents" class="col-md-3 col-form-label text-md-right"></label>
                                    <input asp-for="@createClass.MinStudents" value="@createClass.MinStudents" type="number" required class="form-control col-md-7">
                                    <span asp-validation-for="@createClass.MinStudents" id="error_message"
                                          class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>

                                    <label asp-for="@createClass.MaxStudents" class="col-md-3 col-form-label text-md-right"></label>
                                    <input asp-for="@createClass.MaxStudents" value="@createClass.MaxStudents" type="number" required class="form-control col-md-7">
                                    <span asp-validation-for="@createClass.MaxStudents" id="error_message"
                                          class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>

                                    <label asp-for="@createClass.TeacherName" class="col-md-3 col-form-label text-md-right"></label>
                                    <select class="form-control col-md-7 custom-select" asp-for="@createClass.TeacherName" required></select>
                                    <span asp-validation-for="@createClass.TeacherName" id="error_message"
                                          class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>

                                    <label asp-for="@createClass.CourseName" class="col-md-3 col-form-label text-md-right"></label>
                                    <select class="form-control col-md-7 custom-select" asp-for="@createClass.CourseName" required></select>
                                    <span asp-validation-for="@createClass.CourseName" id="error_message"
                                          class="helper-text text-danger d-block offset-md-5 col-md-5 col-sm-8 mt-2"></span>
                                </div>
                            </div>
                            <div class="modal-footer justify-content-center" style="margin-left:400px;">
                                <button class="btn btn-success" type="submit" id="submitClass">Create</button>
                                <button class="btn btn-danger" type="button" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        var apiUrl = 'https://localhost:7143/api/';
        $(document).ready(function () {
            var token = '@HttpContext.Session.GetString(CEG_RazorWebApp.Libraries.Constants.ACC_TOKEN)';
            $.ajax({
                url: apiUrl + 'Class/Admin/All', // API endpoint
                type: 'GET',
                headers: {
                    'Authorization': 'Bearer ' + token// Include the JWT token
                },
                success: function (response) {
                    // Log the entire response to the console for debugging
                    console.log("Returned object:", response);

                    // Check if the status is true
                    if (response.status) {
                        var classList = $('#classList'); // Reference to the <classList> element
                        // classList.empty(); // Clear any existing options

                        // Append a default option
                        // classList.append('<option value="">--Select a Teacher--</option>');

                        // Loop through the data array and append each name as an option
                        $.each(response.data, function (index, classObj) {
                            // Construct card HTML
                            var cardHtml = `
                                    <div class="col-xl-3 col-lg-6 col-sm-6 my-3">
                                        <div class="card1 card-child">
                                            <div class="club-name"></div>
                                            <div class="card-body">
                                                <div class="club-title">
                                                    <ul>
                                                        <li><h6>Class name:</h6><span>${classObj.className}</span></li>
                                                        <li><h6>Course:</h6><span>${classObj.course.courseName}</span></li>
                                                        <li><h6>Teacher:</h6><span>${classObj.teacher.account.fullname}</span></li>
                                                        <li><h6>Start date:</h6><span>${classObj.startDate}</span></li>
                                                        <li><h6>End date:</h6><span>${classObj.endDate}</span></li>
                                                        <li><h6>Minimum amount of students:</h6><span>${classObj.minimumStudents}</span></li>
                                                        <li><h6>Maximum amount of students:</h6><span>${classObj.maximumStudents}</span></li>
                                                        <li><h6>Current amount of students:</h6><span>${classObj.studentProgress.length}</span></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="form-group mx-auto">
                                                        <form method="get" asp-route-id="${classObj.ClassName}">
                                                    <button class="btn btn-primary clickable-row" type="submit">See Detail</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                `;
                            // Append the constructed HTML to the class list container
                            classList.append(cardHtml);
                        });
                    } else {
                        console.error("API returned false status.");
                    }
                },
                error: function (error) {
                    console.error("Error in api call:", error);
                    //showAlert('success', 'Data fetched successfully.');
                }
            });
            // Call API to get the list of teacher names
            $.ajax({
                url: apiUrl + 'Teacher/All/Fullname', // API endpoint
                type: 'GET',
                success: function (response) {
                    // Log the entire response to the console for debugging
                    console.log("Returned object:", response);

                    // Check if the status is true
                    if (response.status) {
                        var select = $('#createClass_TeacherName'); // Reference to the <select> element
                        select.empty(); // Clear any existing options

                        // Append a default option
                        // select.append('<option value="">--Select a Teacher--</option>');

                        // Loop through the data array and append each name as an option
                        $.each(response.data, function (index, teacherName) {
                            select.append('<option value="' + teacherName + '">' + teacherName + '</option>');
                        });
                    } else {
                        console.error("API returned false status.");
                    }
                },
                error: function (error) {
                    console.error("Error in api call:", error);
                }
            });
            // Call API to get the list of course names
            $.ajax({
                url: apiUrl + 'Course/All/Name', // API endpoint
                type: 'GET',
                success: function (response) {
                    // Log the entire response to the console for debugging
                    console.log("Returned object:", response);

                    // Check if the status is true
                    if (response.status) {
                        var select = $('#createClass_CourseName'); // Reference to the <select> element
                        select.empty(); // Clear any existing options

                        // Append a default option
                        // select.append('<option value="">--Select a Teacher--</option>');

                        // Loop through the data array and append each name as an option
                        $.each(response.data, function (index, courseName) {
                            select.append('<option value="' + courseName + '">' + courseName + '</option>');
                        });
                    } else {
                        console.error("API returned false status.");
                    }
                },
                error: function (error) {
                    console.error("Error in api call:", error);
                    //showAlert('success', 'Data fetched successfully.');
                }
            });
            // Function to display alerts
            function showAlert(type, message) {
                var alertHtml = '';

                if (type === 'success') {
                    alertHtml = `
                        <div class="alert alert-success alert-dismissible fade show" id="notif">
                            <i class='bx bx-message-alt-x p-1'></i>
                            <strong class="mr-1">` + message + `</strong>
                            <button type="button" class="close h-100" data-dismiss="alert" aria-label="Close">
                                <span><i class='bx bx-x'></i></span>
                            </button>
                        </div>`;
                } else if (type === 'error') {
                    alertHtml = `
                        <div class="alert alert-danger alert-dismissible fade show" id="notif">
                            <i class='bx bx-message-alt-x p-1'></i>
                            <strong class="mr-1">` + message + `</strong>
                            <button type="button" class="close h-100" data-dismiss="alert" aria-label="Close">
                                <span><i class='bx bx-x'></i></span>
                            </button>
                        </div>`;
                }

                // Inject the alert HTML into the alert container
                $('#alertContainer').html(alertHtml);
            }
        });
        $("#submitClass").click(function (event) {
            event.preventDefault(); // Prevent the form from submitting

            // Gather form data
            var classData = {
                ClassName: $("#createClass_ClassName").val(),
                ClassType: $("#createClass_ClassType").val(),
                Category: $("#createClass_Category").val(),
                Description: $("#createClass_Description").val(),
                Difficulty: $("#createClass_Difficulty").val(),
                RequiredAge: $("#createClass_RequiredAge").val(),
                TotalHours: $("#createClass_TotalHours").val(),
            };

            // Full API URL (backend is running on localhost:7000)
            var apiUrl = 'http://localhost:7000/api/Admin/CreateClass';

            // Make the AJAX POST request
            $.ajax({
                url: apiUrl,
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(classData),
                success: function (response) {
                    alert('Class created successfully!');
                    $('#createClassForm').trigger("reset");
                },
                error: function (xhr, status, error) {
                    alert('Error creating class: ' + error);
                }
            });
        });
    </script>
</body>
</html>